@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label>ID</label>
            <input type="text" value="@Model.Entity.ID" class="form-control form-control-sm" readonly="readonly" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Status</label>

            @{
                string statusCssClass = String.Empty;
                switch (Model.Entity.StatusCode.ToUpper())
                {
                    case "SUBMITTED":
                        statusCssClass = "background-color: #6f42c1; color:white;";
                        break;
                    case "ACCEPTED":
                        statusCssClass = "background-color: green; color:white;";
                        break;
                    case "CANCELED":
                        statusCssClass = "background-color: #6f42c1; color:white;";
                        break;
                    case "NRR_FLAG":
                        statusCssClass = "background-color: #dc3545; color:white;";
                        break;
                }
            }
            @Html.TextBoxFor(x => x.Entity.StatusCode, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled", @style = statusCssClass })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Submitted By</label>
            @Html.TextBoxFor(x => x.Entity.WebCooperatorFullName, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
        </div>
    </div>
    <div class="col-md-3">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Entity.WebCooperatorEmail, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Submitted</label>
            @Html.TextBoxFor(x => x.Entity.OrderDate, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
        </div>
    </div>
    </div>
<br />
<div class="row">
    <div class="col-md-6">
        <label>Requestor Address</label>
        <br />
        @Html.Raw(Model.Entity.WebCooperatorAddressFormatted)
    </div>
    <div class="col-md-6">
        <label>Shipping Address</label>
        <br />
        @Html.Raw(Model.Entity.ShippingAddressFormatted)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Intended Use Note</label>
            <p class="text-muted well well-sm no-shadow">
                @Model.Entity.IntendedUseCode: @Html.Raw(Model.Entity.IntendedUseNote)
            </p>
        </div>
    </div>
</div>

@if (!String.IsNullOrEmpty(Model.Entity.SpecialInstruction))
{
    <div class="row">
        <div class="col-md-12">
            <label>Special Instruction</label>
            <p class="text-muted well well-sm no-shadow">
                @Model.Entity.SpecialInstruction
            </p>
        </div>
    </div>
}

@if (!String.IsNullOrEmpty(Model.Entity.Note))
{
    <div class="row">
        <div class="col-md-12">
            <label>Note</label>
            <p class="text-muted well well-sm no-shadow">
                @Model.Entity.Note
            </p>
        </div>
    </div>
}

<table class="table table-striped">
    <thead></thead>
    <tbody></tbody>
</table>
@foreach (var result in Model.DataCollectionItems)
{ 
    
}