@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel

<style type="text/css">
    .scrollable-display-section {
        width: 100%; /* Flexible width */
        max-height: 100px; /* Fixed height */
        overflow-y: auto;
    }
</style>

<style type="text/css">
    .scrollable-table-section {
        width: 100%; /* Flexible width */
        max-height: 200px; /* Fixed height */
        overflow-y: auto;
    }
</style>

<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label>ID</label>
            <input type="text" value="@Model.Entity.ID" class="form-control form-control-sm" readonly="readonly" />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Status</label>

            @{
                string statusCssClass = String.Empty;
                switch (Model.Entity.StatusCode.ToUpper())
                {
                    case "ACCEPTED":
                        statusCssClass = "background-color: #28a745; color:white;";
                        break;
                    case "CANCELED":
                        statusCssClass = "background-color: #ffc107; color:white;";
                        break;
                    case "SUBMITTED":
                        statusCssClass = "background-color: #6f42c1; color:white;";
                        break;
                    case "MIXED":
                        statusCssClass = "background-color: #007bff; color:white;";
                        break;
                    case "NRR_FLAG":
                        statusCssClass = "background-color: #dc3545; color:white;";
                        break;
                }
            }
            @Html.TextBoxFor(x => x.Entity.StatusCode, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled", @style = statusCssClass })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Submitted By</label>
            <div class="input-group">
                @Html.TextBoxFor(x => x.Entity.WebCooperatorFullName, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
                <span class="input-group-append">
                    <a href="@Url.Action("Edit","WebCooperator", new { @entityId = Model.Entity.WebCooperatorID })" class="btn btn-default btn-sm"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Entity.WebCooperatorEmail, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Submitted</label>
            @Html.TextBoxFor(x => x.Entity.OrderDate, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <label>Requestor Address</label>
        <br />
        @Html.Raw(Model.Entity.WebCooperatorAddressFormatted)
    </div>
    <div class="col-md-6">
        <label>Shipping Address</label>
        <br />
        @Html.Raw(Model.Entity.ShippingAddressFormatted)
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Intended Use Note</label>
            
                <div class="scrollable-display-section">
                    @Model.Entity.IntendedUseCode: @Html.Raw(Model.Entity.IntendedUseNote)
                </div>
            
        </div>
    </div>
</div>

@if (!String.IsNullOrEmpty(Model.Entity.SpecialInstruction))
{
    <div class="row">
        <div class="col-md-12">
            <label>Special Instruction</label>
            <p>@Model.Entity.SpecialInstruction</p>
        </div>
    </div>
}

@if (!String.IsNullOrEmpty(Model.Entity.Note))
{
    <div class="row">
        <div class="col-md-12">
            <label>Note</label>
            <p>@Model.Entity.Note</p>
        </div>
    </div>
}
<hr />

@Html.Partial("~/Views/WebOrderRequestItem/_List.cshtml")



@{ Html.RenderAction("_List", "OrderRequest", new { @webOrderRequestId = Model.Entity.ID}); }

@*<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table-web-order-request-items");
    });
</script>*@