@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
@*@Html.HiddenFor(x => x.Entity.ID)*@

<!--DEBUG-->
<div class="row" style="background-color:yellow;">
    <div class="col-md-2">
        <label>TIME FRAME</label>
        <input type="text" id="filter-by-time-frame" />
    </div>
    <div class="col-md-2">
        <label>STATUS</label>
        <input type="text" id="filter-by-status" />
    </div>
    <div class="col-md-2">
        <label>ASSIGNED</label>
        <input type="text" id="filter-by-assigned-to" />
    </div>
    <div class="col-md-2">
        <label>SEL TAB</label>
        <input type="text" id="txtSelectedTab" />
    </div>
    <div class="col-md-2">
        <label>SEL WOR ID</label>
        <input type="text" id="Entity_ID" />
    </div>
</div>
<br />
<!--END DEBUG-->

<div class="row">
    <div class="col-md-4">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 id="section-web-order-request-list-title" class="card-title">Web Order Requests</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="section-web-order-request-list" class="card-body">
                
            </div>
            <div id="section-overlay-web-order-request-list" class="overlay">
                <i class="fas fa-2x fa-sync-alt"></i>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- BEGIN WOR TABS-->
        <div class="card card-primary card-tabs">
            <div id="section-web-order-request" class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="tab-web-order-request" role="tablist">
                    <li class="pt-2 px-3">
                        <h3 id="section-web-order-request-title" class="card-title"></h3>
                    </li>
                    <li id="tab-web-order-request-detail"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerDetail">
                        <a class="nav-link active"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-detail" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Detail</a>
                    </li>
                    <li id="tab-web-order-request-timeline"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerTimeline">
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-timeline"
                           role="tab"
                           aria-controls="custom-tabs-two-profile"
                           aria-selected="false">Timeline</a>
                    </li>
                    <li id="tab-web-order-request-notes"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerNotes">
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-notes"
                           role="tab"
                           aria-controls="custom-tabs-two-messages"
                           aria-selected="false">Notes</a>
                    </li>
                    @*<li id="tab-web-order-request-related-order"
                            class="nav-item"
                            data-ggtools-action="WebOrderRequest"
                            data-ggtools-value="ExplorerRelatedOrder">
                            <a class="nav-link"
                               data-toggle="pill"
                               href="#tab-content-web-order-request-related-order"
                               role="tab"
                               aria-controls="custom-tabs-two-settings"
                               aria-selected="false">Settings</a>
                        </li>*@
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tab-content-web-order-request">
                    @*<div class="tab-pane fade show active"
                             id="tab-content-web-order-request-detail" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                            <h3>DETAIL</h3>
                        </div>
                        <div class="tab-pane fade"
                             id="tab-content-web-order-request-timeline" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                            <h3>TIMELINE</h3>
                        </div>
                        <div class="tab-pane fade"
                             id="tab-content-web-order-request-notes" role="tabpanel" aria-labelledby="custom-tabs-two-messages-tab">
                            <h3>NOTES</h3>
                        </div>
                        <div class="tab-pane fade"
                             id="tab-content-web-order-request-related-order" role="tabpanel" aria-labelledby="custom-tabs-two-settings-tab">
                            <h3>RELATED ORDER</h3>
                        </div>*@
                </div>
            </div>

        </div>
        <!-- END WOR LIST-->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //LoadWebOrderRequestList("1D", "", "");
        $("#txtSelectedTab").val("tab-web-order-request-detail");
        $("#section-overlay-web-order-request-list").hide();
    });

    $('#section-web-order-request ul.nav li').on('click', function () {
        var webOrderRequestId = $("#Entity_ID").val();
        var selectedId = $(this).attr('id');
        $("#txtSelectedTab").val(selectedId);
        LoadWebOrderRequest(webOrderRequestId);
    });

    function GetSelectedTab() {
        return $("#txtSelectedTab").val();
    }

    function GetSelectedFilter(name) {
        var selectedFilter = $("#" + name).val();
        return selectedFilter;
    }

    $(document).on("click", "[id='btnAddNote']", function () {
        event.preventDefault();
        var webOrderRequestId = $("#Entity_ID").val();
        var note = $("#txtNote").val();
        AddNote(webOrderRequestId, note);
    });

    function AddNote(webOrderRequestId, note) {
        var link = '@Url.Action("AddNote", "WebOrderRequest")';
        var formData = new FormData();

        formData.append("webOrderRequestId", webOrderRequestId);
        formData.append("noteText", note);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                LoadWebOrderRequestNotes(webOrderRequestId);
            }
        });
    }

    function InitWebOrderRequestDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                //dom: 'Blfrtip',
                paging: false,
                //"pageLength": 10,
                responsive: true,
                //buttons: [
                //    'selectAll',
                //    'selectNone',
                //    'csv',
                //    'excel',
                //    'pdf',
                //    {
                //        text: 'Edit Batch',
                //        action: function (e, dt, node, config) {
                //            EditBatch();
                //        }
                //    }
                //],
                search: false,
                select: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [0], visible: false }
                ]
            });

            // Select the first visible row, and call relate method.
            table.row(':eq(0)', { page: 'current' }).select();
            LoadWebOrderRequest(table.row(':eq(0)', { page: 'current' }).data()[0]);

            // Call select method when user clicks a given row.
            $('table.ggtools').on('click', 'tr', function () {
                var data = table.row(this).data();
                LoadWebOrderRequest(data[0]);
            });
        });
    }

    function LoadWebOrderRequestList() {
        var link = '@Url.Action("ExplorerList","WebOrderRequest")';
        var timeFrame = GetSelectedFilter("filter-by-time-frame");
        var statusCode = GetSelectedFilter("filter-by-status");
        var assignedTo = GetSelectedFilter("filter-by-assigned-to");
        var formData = new FormData();

        formData.append("SearchEntity.TimeFrame", timeFrame);
        formData.append("SearchEntity.StatusCode", statusCode);
        formData.append("SearchEntity.OwnedByWebUserID", assignedTo);

        $("#section-overlay-web-order-request-list").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-web-order-request-list").html(response);
                $("#section-overlay-web-order-request-list").hide();
            }
        });
    }

    function LoadWebOrderRequest(id) {
        var selectedTab = GetSelectedTab();

         //DEBUG
        /*alert("TAB IS " + selectedTab + " AND ID IS " + id);*/

        $("#Entity_ID").val(id);

        switch (selectedTab) {
            case "tab-web-order-request-detail":
                LoadWebOrderRequestDetail(id);
                break;
            case "tab-web-order-request-timeline":
                LoadWebOrderRequestTimeline(id);
                break;
            case "tab-web-order-request-notes":
                LoadWebOrderRequestNotes(id);
                break;
        }
    }

    function LoadWebOrderRequestDetail(webOrderRequestId) {
        var link = '@Url.Action("ExplorerDetail","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
        //tab-web-order-request-detail
    }

    function LoadWebOrderRequestTimeline(webOrderRequestId) {
        var link = '@Url.Action("ExplorerTimeline","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
    }

    function LoadWebOrderRequestNotes(webOrderRequestId) {
        var link = '@Url.Action("ExplorerNotes","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
    }
</script>