@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@Html.HiddenFor(x => x.ActionEmailFrom)

<style>
    .tag {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border-radius: 20px;
        margin-right: 5px;
        cursor: pointer;
    }

        .tag:hover {
            background-color: #0056b3;
        }
</style>

<div id="tagContainer">
    <!-- Tags will be dynamically added here -->
</div>


<!-- ********************************************** BEGIN DEBUG FIELDS *************************************************************-->
<div class="row" style="background-color:yellow;">
    <div class="col-md-2">
        <label>TIME FRAME</label>
        <input type="text" id="filter-by-time-frame" />
    </div>
    <div class="col-md-2">
        <label>STATUS</label>
        <input type="text" id="filter-by-status" />
    </div>
    <div class="col-md-2">
        <label>ASSIGNED</label>
        <input type="text" id="filter-by-assigned-to" />
    </div>
    <div class="col-md-2">
        <label>SEL TAB</label>
        <input type="text" id="txtSelectedTab" />
    </div>
    <div class="col-md-2">
        <label>SEL WOR ID</label>
        <input type="text" id="Entity_ID" />
    </div>
</div>
<br />
<!-- ********************************************** END DEBUG FIELDS *************************************************************-->

<div class="row">
    <div id="section-web-order-request-list" class="col-md-4">
    </div>
    <div class="col-md-8">
        <div class="card card-success card-tabs">
            <div id="section-web-order-request" class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="tab-web-order-request" role="tablist">
                    <li id="tab-web-order-request-detail"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerDetail">
                        <a class="nav-link active"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-detail" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">
                            <i class="fa fa-address-card"></i> Detail
                        </a>
                    </li>
                    <li id="tab-web-order-request-timeline"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerTimeline">
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-timeline"
                           role="tab"
                           aria-controls="custom-tabs-two-profile"
                           aria-selected="false"><i class="fa fa-clock"></i> Timeline</a>
                    </li>
                    <li id="tab-web-order-request-notes"
                        class="nav-item"
                        data-ggtools-action="WebOrderRequest"
                        data-ggtools-value="ExplorerNotes">
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-notes"
                           role="tab"
                           aria-controls="custom-tabs-two-messages"
                           aria-selected="false"><i class="fa fa-sticky-note"></i> Notes</a>
                    </li>

                    <li id="tab-web-order-request-order-request"
                        class="nav-item"
                        data-ggtools-action="OrderRequest"
                        data-ggtools-value="_Get">
                        <a class="nav-link"
                           data-toggle="pill"
                           href="#tab-content-web-order-request-order-request"
                           role="tab"
                           aria-controls="custom-tabs-two-settings"
                           aria-selected="false"><i class="fa fa-shopping-cart"></i> Order Request</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="row">
                        <div class="btn-group">
                            <button id="btnOpenModalApprove" data-ggtools-value="NRR_APPROVE" type="button" class="btn btn-default">
                                <i class="fas fa-thumbs-up text-green nav-icon"></i>
                                Approve
                            </button>
                            <button id="btnOpenModalReject" data-ggtools-value="NRR_REJECT" type="button" class="btn btn-default">
                                <i class="fas fa-thumbs-down text-red nav-icon"></i>
                                Reject
                            </button>
                            <button id="btnOpenModalRequestInfo" data-ggtools-value="NRR_INFO" type="button" class="btn btn-default">
                                <i class="fas fa-info text-blue nav-icon"></i>
                                Request Additional Information
                            </button>
                            <button id="btnOpenModalRequestInfo" data-ggtools-value="NRR_INFO" type="button" class="btn btn-default">
                                <i class="fas fa-tree nav-icon"></i>
                                Email Curator(s)
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div id="tab-content-web-order-request">
                        <!-- CONTENT HERE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ****************************************** BEGIN EMAIL MODAL *******************************************************-->
<div class="modal fade" id="modal-email" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    <span id="section-modal-title-event-value"></span> <span id="section-modal-title-web-order-request-id"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="section-modal-email-content" class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btnSubmitReview" type="button" class="btn btn-default" data-ggtools-action="@Model.EventAction" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- ****************************************** END EMAIL MODAL *******************************************************-->

<script type="text/javascript">
    $(document).ready(function () {
        Load();
    });

    $('#section-web-order-request ul.nav li').on('click', function () {
        var webOrderRequestId = $("#Entity_ID").val();
        var selectedId = $(this).attr('id');
        $("#txtSelectedTab").val(selectedId);
        LoadWebOrderRequest(webOrderRequestId);
    });

    function Load() {
        // TODO Determine default WOR list filter.
        $("#filter-by-time-frame").val("1Y");
        LoadWebOrderRequestList();

        $("#txtSelectedTab").val("tab-web-order-request-detail");
        $("#section-overlay-web-order-request-list").hide();
    }

    function GetSelectedTab() {
        return $("#txtSelectedTab").val();
    }

    function GetSelectedFilter(name) {
        var selectedFilter = $("#" + name).val();
        return selectedFilter;
    }

    $(document).on("click", "[id='btnAddNote']", function () {
        event.preventDefault();
        var webOrderRequestId = $("#Entity_ID").val();
        var note = $("#txtNote").val();
        AddNote(webOrderRequestId, note);
    });

    $(document).on("click", "[id='btnSubmitReview']", function () {
        SubmitReview();
        LoadWebOrderRequestList();
    });

    $(document).on("click", "[id='btnOpenModalApprove']", function () {
        LoadEmailModal("NRR_APPROVE");
        @*var link = '@Url.Action("RenderEmailModal", "WebOrderRequest")';
        var webOrderRequestId = $("#Entity_ID").val();
        var emailTo = $("#Entity_WebCooperatorEmail").val();
        var emailFrom = $("#ActionEmailFrom").val();

        $("#section-modal-title-event-value").html("Approve Web Order Request");
        $("#section-modal-title-web-order-request-id").html(webOrderRequestId);

        $("#txtEmailTo").val(emailTo);
        $("#txtEmailFrom").val(emailFrom);

        //TODO Get template subj. and body

        $("#modal-email").modal("show");*@

   });

    $(document).on("click", "[id='btnOpenModalReject']", function () {
        LoadEmailModal("NRR_REJECT");
        @*var link = '@Url.Action("RenderEmailModal", "WebOrderRequest")';
        var webOrderRequestId = $("#Entity_ID").val();
        var emailTo = $("#Entity_WebCooperatorEmail").val();
        var emailFrom = $("#ActionEmailFrom").val();

        $("#section-modal-title-event-value").html("Reject Web Order Request");
        $("#section-modal-title-web-order-request-id").html(webOrderRequestId);

        $("#txtEmailTo").val(emailTo);
        $("#txtEmailFrom").val(emailFrom);

        //TODO Get template subj. and body

        $("#modal-email").modal("show");*@
    });

    function SubmitReview() {
        var link = '@Url.Action("Edit","WebOrderRequest")';
        var note = $("#EventNote").val();
        var entityId = $("#Entity_ID").val();
        var newActionCode = $("#NewActionCode").val();
        var actionEmailFrom = $("#ActionEmailFrom").val();
        var actionEmailTo = $("#ActionEmailTo").val();
        var actionEmailSubject = $("#ActionEmailSubject").val();
        var actionEmailBody = $("#ActionEmailBody").val();
        var actionEmailBodyOriginal = $("#ActionEmailBodyOriginal").val();

        var formData = new FormData();
        formData.append("Entity.ID", entityId);
        formData.append("EventNote", note);
        formData.append("NewActionCode", newActionCode);
        formData.append("ActionEmailFrom", actionEmailFrom);
        formData.append("ActionEmailTo", actionEmailTo);
        formData.append("ActionEmailSubject", actionEmailSubject);
        formData.append("ActionEmailBody", actionEmailBody);
        formData.append("ActionEmailBodyOriginal", actionEmailBodyOriginal);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                if (response.success) {
                    

                } else {
                    HandleError(response.message);
                }
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                /*HandleError(errorMessage);*/
            }
        });
    }

    function LoadEmailModal(actionCode) {
     link = '@Url.Action("Component_EmailModal", "WebOrderRequest")';
     var webOrderRequestId = $("#Entity_ID").val();
     var actionEmailTo = $("#Entity_WebCooperatorEmail").val();
     var formData = new FormData();

     $("#modal-email").modal("show");

     formData.append("entityId", webOrderRequestId);
     formData.append("actionCode", actionCode);
     formData.append("actionEmailTo", actionEmailTo);

     $.ajax({
         url: link,
         type: 'POST',
         cache: false,
         contentType: false,
         processData: false,
         data: formData,
         success: function (response) {

             $("#section-modal-email-content").html(response);

         }
     });
 }

    function AddNote(webOrderRequestId, note) {
        var link = '@Url.Action("AddNote", "WebOrderRequest")';
        var formData = new FormData();

        formData.append("webOrderRequestId", webOrderRequestId);
        formData.append("noteText", note);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                LoadWebOrderRequestNotes(webOrderRequestId);
            }
        });
    }

    function InitWebOrderRequestDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                //dom: 'Blfrtip',
                paging: false,
                //"pageLength": 10,
                responsive: true,
                //buttons: [
                //    'selectAll',
                //    'selectNone',
                //    'csv',
                //    'excel',
                //    'pdf',
                //    {
                //        text: 'Edit Batch',
                //        action: function (e, dt, node, config) {
                //            EditBatch();
                //        }
                //    }
                //],
                search: false,
                select: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]

            });

            // If the table contains at least one row, select that row by default, and load the WOR data
            // related to it.
            if (table.rows().count() > 0) {
                // Select the first visible row
                var firstVisibleRow = table.rows({ search: 'applied' }).indexes()[0];
                if (firstVisibleRow !== undefined) {
                    table.row(firstVisibleRow).select();
                    LoadWebOrderRequest(table.row(':eq(0)', { page: 'current' }).data()[0]);
                }
            }

            // Call select method when user clicks a given row.
            $('table.ggtools').on('click', 'tr', function () {
                var data = table.row(this).data();
                LoadWebOrderRequest(data[0]);
            });
        });
    }

    // Populate the list of web order requests based on the filters currently
    // stored in hidden fields.
    function LoadWebOrderRequestList() {
        var link = '@Url.Action("ExplorerList","WebOrderRequest")';
        var timeFrame = GetSelectedFilter("filter-by-time-frame");
        var statusCode = GetSelectedFilter("filter-by-status");
        var assignedTo = GetSelectedFilter("filter-by-assigned-to");
        var formData = new FormData();

        formData.append("SearchEntity.TimeFrame", timeFrame);
        formData.append("SearchEntity.StatusCode", statusCode);
        formData.append("SearchEntity.OwnedByWebUserID", assignedTo);

        $("#section-overlay-web-order-request-list").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-web-order-request-list").html(response);
                $("#section-overlay-web-order-request-list").hide();
            }
        });
    }

    function LoadWebOrderRequest(id) {
        var selectedTab = GetSelectedTab();

        $("#Entity_ID").val(id);

        switch (selectedTab) {
            case "tab-web-order-request-detail":
                LoadWebOrderRequestDetail(id);
                break;
            case "tab-web-order-request-timeline":
                LoadWebOrderRequestTimeline(id);
                break;
            case "tab-web-order-request-notes":
                LoadWebOrderRequestNotes(id);
                break;
            case "tab-web-order-request-order-request":
                LoadWebOrderRequestOrderRequest(id);
                break;
        }
    }

    function LoadWebOrderRequestDetail(webOrderRequestId) {
        var link = '@Url.Action("ExplorerDetail","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
        //tab-web-order-request-detail
    }

    function LoadWebOrderRequestTimeline(webOrderRequestId) {
        var link = '@Url.Action("ExplorerTimeline","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
    }

    function LoadWebOrderRequestNotes(webOrderRequestId) {
        var link = '@Url.Action("ExplorerNotes","WebOrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
    }

    function LoadWebOrderRequestOrderRequest(webOrderRequestId) {
        var link = '@Url.Action("_Get","OrderRequest", new { webOrderRequestId = "WEB_ORDER_REQUEST_ID" })';
        link = link.replace("WEB_ORDER_REQUEST_ID", webOrderRequestId);

        var formData = new FormData();
        formData.append("webOrderRequestId", webOrderRequestId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-web-order-request").html(response);
            }
        });
    }

    $(document).ready(function () {
        // Click event handler for dynamically created tags
        $('#tagContainer').on('click', '.tag', function () {
            $(this).remove(); // Remove the clicked tag
        });

        // Function to add a new tag
        function addTag(tagName) {
            var tag = $('<div class="tag">' + tagName + '<span class="delete"> X</span></div>');
            $('#tagContainer').append(tag);
        }

        // Example: adding tags dynamically
        addTag('Tag 1');
        addTag('Tag 2');
        addTag('Tag 3');

        // Click event handler for delete button within tags
        $('#tagContainer').on('click', '.delete', function (e) {
            e.stopPropagation(); // Prevent tag click event from firing
            $(this).parent().remove(); // Remove the tag containing the delete button
        });
    });

</script>