@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModel
<div id="modal-citation-lookup" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Citation Lookup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#parent-taxon-citations" data-toggle="tab">Parent Taxon Citations</a></li>
                            <li class="nav-item"><a class="nav-link " href="#search-citations" data-toggle="tab">Search</a></li>
                            <li class="nav-item"><a class="nav-link" href="#add-citation" data-toggle="tab">Add</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="parent-taxon-citations">
                                @if (Model.DataCollection.Count > 0)
                                {
                                    <table id="citation-lookup-data-table-parent" class="table table-striped" style="margin-top:25px; width:100%;">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th width="5%">ID</th>
                                                <th>Citation Text</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.DataCollection != null)
                                            {
                                                if (Model.DataCollection.Count() > 0)
                                                {
                                                    foreach (var result in Model.DataCollection)
                                                    {
                                                        <tr>
                                                            <td>@result.ID</td>
                                                            <td>
                                                                @result.ID
                                                            </td>
                                                            <td>@Html.Raw(result.CitationText)</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <br />
                                    <button id="btnSaveSelectedSpeciesCitation" type="button" class="btn btn-info float-right" data-dismiss="modal">Use Selected Species Citation</button>
                                }
                            </div>
                            <div class="tab-pane" id="search-citations">
                                <div id="section-search-criteria">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div id="form-group">
                                                <label id="lblStandardAbbreviation">Lit. Type</label>
                                                @Html.DropDownListFor(x => x.SearchEntity.LiteratureTypeCode, Model.LiteratureTypes, "All types", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="form-group">
                                                <label id="lblStandardAbbreviation">Standard Abbreviation</label>
                                                @Html.DropDownListFor(x => x.SearchEntity.StandardAbbreviation, Model.StandardAbbreviations, "All sources", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="form-group">
                                                <label>Abbreviation</label>
                                                @Html.TextBoxFor(x => x.SearchEntity.Abbreviation, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="form-group">
                                                <label>Citation Title</label>
                                                @Html.TextBoxFor(x => x.SearchEntity.CitationTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="form-group">
                                                <label>Editor/Author</label>
                                                @Html.TextBoxFor(x => x.SearchEntity.EditorAuthorName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div id="form-group">
                                                <label>Cit. Year</label>
                                                @Html.TextBoxFor(x => x.SearchEntity.CitationYear, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button id="btnLookupCitations" type="button" class="btn btn-default float-right">Search</button>
                                    </div>
                                    <div id="section-citation-lookup-search-results">
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="add-citation">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Literature</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.Abbreviation, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                                                @Html.HiddenFor(x => x.Entity.LiteratureID)
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-literature-lookup">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div id="form-group">
                                            <label>Citation Title</label>
                                            @Html.TextBoxFor(x => x.Entity.CitationTitle, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div id="form-group">
                                            <label>Author</label>
                                            @Html.TextBoxFor(x => x.Entity.CitationAuthorName, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="form-group">
                                            <label>Cit. Year</label>
                                            @Html.TextBoxFor(x => x.Entity.CitationYear, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div id="form-group">
                                            <label>Vol. and Page</label>
                                            @Html.TextBoxFor(x => x.Entity.VolumeOrPage, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div id="form-group">
                                            <label>DOI Reference</label>
                                            @Html.TextBoxFor(x => x.Entity.DOIReference, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Note</label>
                                        @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <button id="btnSaveNewCitation" type="button" class="btn btn-info float-right" data-dismiss="modal">Save New Citation</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">


                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@{Html.RenderAction("RenderLookupModal", "Literature"); }
<script type="text/javascript">
    InitDataTableLight('citation-lookup-data-table-parent');

    /*
     * Initiate search
     */
    $(document).on("click", "[id='btnLookupCitations']", function () {
        var link = '@Url.Action("Lookup","Citation")';
        LookupCitations(link);
    });

    /*
     * Add a reference to a citation linked to a parent taxon.
     */
    $(document).on("click", "[id='btnSaveSelectedSpeciesCitation']", function () {
        var selectedItemIdList = GetSelectedEntityIDs("citation-lookup-data-table-parent");
        var selectedItemLabelList = GetSelectedEntityLabels("citation-lookup-data-table-parent");
        $("#Entity_CitationID").val(selectedItemIdList);
        $("#Entity_CitationText").val(selectedItemLabelList);
    });

    $(document).on("click", "[id='btnSaveSelectedCitation']", function () {
        var selectedItemIdList = GetSelectedEntityIDs("citation-lookup-data-table");
        var selectedItemLabelList = GetSelectedEntityLabels("citation-lookup-data-table");
        $("#Entity_CitationID").val(selectedItemIdList);
        $("#Entity_CitationText").val(selectedItemLabelList);
    });

    /*
     * Add a new citation, linked to this entity.
     */
    $(document).on("click", "[id='btnSaveNewCitation']", function () {
        // TODO AddCitation();
        alert("DEBUG SAVE NEW CIT");
    });

    function AddCitation() {
    var link = '@Url.Action("Add","Citation")';
    var formData = new FormData();

    var tableName = $("#TableName").val();
    var entityId = $("#Entity_ID").val();
    var standardAbbreviation = $("#Entity_Abbreviation").val();
    var citationTitle = $("#Entity_CitationTitle").val();
    var editorAuthorName = $("#Entity_EditorAuthorName").val();
    var citationYear = $("#Entity_CitationYear").val();
    var doiReference = $("#Entity_DOIReference").val();
    var volumeOrPage = $("#Entity_VolumeOrPage").val();
    var note = $("#Entity_Note").val();

    formData.append("TableName", tableName);
    formData.append("SpeciesID", entityId);
    formData.append("StandardAbbreviation", standardAbbreviation);
    formData.append("CitationTitle", citationTitle);
    formData.append("EditorAuthorName", editorAuthorName);
    formData.append("CitationYear", citationYear);
    formData.append("DOIReference", doiReference);
    formData.append("VolumeOrPage", volumeOrPage);
    formData.append("Note", note);

    $.ajax({
        url: link,
        type: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        success: function (result) {

        },
        error: function () {

        }
    });

}

    function SetCitationReference(link) {
        //TODO: Call method that
    }

    function SaveCitations(link, refreshLink) {
    var tableName = $("#TableName").val();
    var entityId = $("#Entity_ID").val();
    var formData = new FormData();
    var selectedItemIdList = GetSelectedEntityIDs("citation-lookup-data-table");

    formData.append("TableName", tableName);
    formData.append("EntityID", entityId);
    formData.append("IDList", selectedItemIdList);

    $.ajax({
        url: link,
        type: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        success: function (result) {
            $("#modal-citation-search").modal("hide");

            /*window.location.href = refreshLink;*/
        },
        error: function () {

        }
    });
}

    function DeleteCitations(link, refreshLink) {
    var tableName = $("#TableName").val();
    var entityId = $("#Entity_ID").val();
    var formData = new FormData();
    var selectedItemIdList = "0";

    formData.append("TableName", tableName);
    formData.append("EntityID", entityId);
    formData.append("IDList", selectedItemIdList);

    $.ajax({
        url: link,
        type: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        success: function (result) {
            $("#modal-citation-search").modal("hide");
            window.location.href = refreshLink;
        },
        error: function () {

        }
    });
}
</script>

