@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModel
<br />

<div class="card">
    <div class="card-header">
        @Html.HiddenFor(x => x.Entity.ID, new { id = "hfCitationID" })
        <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            Citation
        </h3>
    </div>
    <div class="card-body">
        <dl class="row">
            
            @if (Model.Entity.ID > 0)
            {
                <dt class="col-sm-10"><span id="section-citation-text"></span>@Html.Raw(Model.Entity.CitationText)</dt>
                <dd class="col-sm-2">
                    <button id="btnEditCitation" type="button" class="btn btn-default btn-sm btn-flat float-right">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-flat float-right" data-toggle="modal" data-target="#modal-citation-lookup">
                        <i class="fa fa-search"></i>
                    </button>
                </dd>
            }
            else
            { 
                <dd class="col-sm-12">
                    <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-citation-lookup">
                        <i class="fa fa-plus"></i>Add Citation
                    </button>
                </dd>
            }
        </dl>
    </div>
</div>

@*<label>Citation</label>
    <div class="input-group">
        @Html.HiddenFor(x => x.Entity.ID, new { id = "hfCitationID" })
        @Html.TextBoxFor(x => x.Entity.CitationText, new { @class = "form-control", @readonly = "readonly" })
        <span class="input-group-btn">
            <button id="btnEditCitation" type="button" class="btn btn-default btn-flat">
                <i class="fa fa-edit"></i>
            </button>
        </span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-citation-lookup">
                <i class="fa fa-search"></i>
            </button>
        </span>
</div>*@

<script type="text/javascript">
    $(document).on("click", "[id='btnEditCitation']", function () {
        var citationId = $("#hfCitationID").val();
        EditCitation(citationId);
    });

    $(document).on("click", "[id='btnCitationEditSave']", function () {
        SaveCitation();
    });

    function SaveCitation() {
        link = '@Url.Action("_Save","Citation")';
        var formData = new FormData();

        formData.append("Entity.ID", $("#hfCitationID").val());
        formData.append("Entity.CitationTitle", $("#Entity_CitationTitle").val());
        formData.append("Entity.CitationAuthorName", $("#Entity_CitationAuthorName").val());
        formData.append("Entity.CitationYear", $("#Entity_CitationYear").val());
        formData.append("Entity.VolumeOrPage", $("#Entity_VolumeOrPage").val());
        formData.append("Entity.DOIReference", $("#Entity_DOIReference").val());
        formData.append("Entity.CitationTitle", $("#Entity_CitationTitle").val());
        formData.append("Entity.Note", $("#txtCitationNote").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#modal-citation-edit").modal("hide");
            }
        });
    }

    function EditCitation(citationId) {
        link = '@Url.Action("RenderEditModal","Citation")';
        var formData = new FormData();

        formData.append("entityId", citationId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-modal-citation-edit").html(response);
                $("#modal-citation-edit").modal("show");
            }
        });
    }

</script>