@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CitationViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
@using (Html.BeginForm("Edit", "Citation", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.EventValue)
    @Html.HiddenFor(x => x.TableName)
    @Html.HiddenFor(x => x.TableCode)
    @Html.HiddenFor(x => x.PageTitle)
    @Html.HiddenFor(x => x.Entity.ID)
    @Html.Partial("~/Views/Shared/_RevisionHistory.cshtml")
    @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")

    <div class="card card-default">
        <div class="card-header">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modal-note-lookup">
                    <i class="fa fa-search margin-r-5"></i>
                    Notes
                </button>
            </div>
            <div class="btn-group float-right">
                <button id="btnShowTablePermissions" type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modal-sys-table-permission-lookup">
                    <i class="fa fa-table"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Family</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Entity.FamilyName, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                            @Html.HiddenFor(x => x.Entity.FamilyID)
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-target="#modal-family-lookup" class="btn btn-default btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Genus</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Entity.GenusName, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                            @Html.HiddenFor(x => x.Entity.GenusID)
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-target="#modal-genus-lookup" class="btn btn-default btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Species</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Entity.SpeciesName, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                            @Html.HiddenFor(x => x.Entity.SpeciesID)
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-target="#modal-species-lookup" class="btn btn-default btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Literature</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Entity.Abbreviation, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                            @Html.HiddenFor(x => x.Entity.LiteratureID)
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-literature-lookup">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="form-group">
                        <label>Citation Title</label>
                        @Html.TextBoxFor(x => x.Entity.CitationTitle, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="form-group">
                        <label>Author</label>
                        @Html.TextBoxFor(x => x.Entity.CitationAuthorName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="form-group">
                        <label>Cit. Year</label>
                        @Html.TextBoxFor(x => x.Entity.CitationYear, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="form-group">
                        <label>Vol. and Page</label>
                        @Html.TextBoxFor(x => x.Entity.VolumeOrPage, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div id="form-group">
                        <label>DOI Reference</label>
                        @Html.TextBoxFor(x => x.Entity.DOIReference, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Note</label>
                        @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Refresh")" class="btn btn-warning">Cancel</a>
            @if (Model.Entity.ID > 0)
            {
                <button id="btnDelete" type="button" class="btn btn-danger">
                    Delete
                </button>
            }
            <button type="submit" class="btn btn-default float-right">Save</button>
        </div>
    </div>
}

@{ Html.RenderAction("_RenderLookupModal", "SysTable", new { @tableName = Model.TableName }); }
@Html.Partial("~/Views/Taxonomy/Family/Modals/_Lookup.cshtml")
@Html.Partial("~/Views/Taxonomy/Genus/Modals/_Lookup.cshtml")
@Html.Partial("~/Views/Taxonomy/Species/Modals/_Lookup.cshtml")
@Html.Partial("~/Views/Shared/Modals/_NoteLookup2.cshtml")
@Html.Partial("~/Views/Taxonomy/Shared/Modals/_Delete.cshtml")

<script>
    $(document).ready(function () {
        Init();
        /*InitializeCKEditor();*/
    });

    function Init() {
    }
    /*
    * ===================================================================================================
    * SPECIES MODAL
    * ===================================================================================================
    */

    $(document).on("click", "[id='btnLookupSpecies']", function () {
        var link = '@Url.Action("Lookup","Species")';
        SearchSpecies(link);
    });

    $(document).on("click", "[id='btnSaveSpecies']", function () {
        SaveSpecies();
    });
</script>
