@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CodeValueViewModel
@{
    ViewBag.Title = "Code Value Search";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <!-- BEGIN CATEGORY LIST -->
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-filter"></i> Groups</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="section-code-groups" class="card-body">

                <table class="table table-hover text-nowrap">
                    
                    <tbody>
                        @foreach (var result in Model.DataCollectionGroups)
                        {
                            <tr>
                                <td>@result.Value</td>

                            </tr>
                        }
                        </tbody>
                </table>

               





            </div>
        </div>
        <!-- END CATEGORY LIST -->
    </div>
    <div class="col-md-9">
        <div id="section-search-results" class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Code Values (@Model.DataCollection.Count)</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div id="section-code-value-list" class="card-body">
            </div>
            @*<div id="progress_overlay" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>*@
        </div>
    </div>
</div>

@Html.Partial("~/Views/CodeValue/Modals/_Edit.cshtml")

<script type="text/javascript">

    $(document).ready(function () {
        InitCodeGroupDataTable("data-table-code-groups");
    });

    //function InitSelectorDataTable(tableName) {
    //    tableName = "#" + tableName;

    //    var tableNameString = tableName + " tbody";

    //    table = $(tableName).DataTable({
    //        paging: false,
    //        select: {
    //            style: 'single'
    //        },
    //        searching: true,
    //        //columnDefs: [
    //        //    { targets: [0], visible: false }
    //        //]
    //    });

    //    //Select first row by default; load related data.
    //    table.row(':eq(0)', { page: 'current' }).select();
    //    var firstRowData = table.row(':eq(0)', { page: 'current' }).data();
    //    LoadCodeValues(firstRowData[0]);
    //}

    function InitCodeGroupDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                //dom: 'Blfrtip',
                paging: false,
                //"pageLength": 10,
                responsive: true,
                //buttons: [
                //    'selectAll',
                //    'selectNone',
                //    'csv',
                //    'excel',
                //    'pdf',
                //    {
                //        text: 'Edit Batch',
                //        action: function (e, dt, node, config) {
                //            EditBatch();
                //        }
                //    }
                //],
                search: false,
                select: true,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]
            });

            // Select the first visible row, and call relate method.
            table.row(':eq(0)', { page: 'current' }).select();
            LoadCodeValues(table.row(':eq(0)', { page: 'current' }).data()[0]);

            // Call select method when user clicks a given row.
            $("#data-table-code-groups tbody").on('click', 'tr', function () {
                var selRowdata = table.row(this).data();
                alert("DEBUG " + selRowdata);
                /*LoadCodeValues(data[0]);*/
            });
        });
    }

    function LoadCodeValues(groupName) {
        var link = '@Url.Action("_List", "CodeValue", new { groupName = "GROUP_NAME" })';
        link = link.replace("GROUP_NAME", groupName);
        var formData = new FormData();

        formData.append("groupName", groupName);

        $("#progress_overlay").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-code-value-list").html(response);
                $("#progress_overlay").hide();
            }
        });

        }

    $(document).on("click", "[id='btnEditCodeValue']", function () {
        $("#modal-code-value-edit").modal("show");
        var codeValueId = $(this).data('ggtools-entity-id');
        RenderEditModal(codeValueId);
    });

    function RenderEditModal(codeValueId) {
        var link = '@Url.Action("_Edit", "CodeValue", new { entityId = "ENTITY_ID" })';
        link = link.replace("ENTITY_ID", codeValueId);
        var formData = new FormData();

        formData.append("entityId", codeValueId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-code-value-edit").html(response);
            }
        });
        $("#modal-code-value-edit").modal("show");
    }

    $("#btnSaveCodeValue").click(function () {
        SaveChanges();
    });

    function SaveChanges() {
        var link = '@Url.Action("Save","CodeValue")';
        var formData = new FormData();

        formData.append("Entity.ID", $("#Entity_ID").val());
        formData.append("Entity.CodeValueID", $("#Entity_CodeValueID").val());
        formData.append("Entity.CodeValueLangID", $("#Entity_CodeValueLangID").val());
        formData.append("Entity.GroupName", $("#Entity_GroupName").val());
        formData.append("Entity.SysLangID", $("#Entity_SysLangID").val());
        formData.append("Entity.Code", $("#Entity_Code").val());
        formData.append("Entity.CodeTitle", $("#Entity_CodeTitle").val());
        formData.append("Entity.CodeDescription", $("#Entity_CodeDescription").val());

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                // 1. Close modal
                $("#modal-code-value-edit").modal("hide");
                // 2. Get selected group
                var selectedGroupName = GetSelectedEntityIDs("data-table-groups");
                // 3. Refresh the group-filtered code values.
                LoadCodeValues(selectedGroupName);
            }
        });
        
    }
</script>
