@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel

@{
    string sectionId = Model.Entity.ID.ToString();
    string txtGenusId = "txtGenus" + Model.Entity.ToString();
    string txtSpeciesName = "txtSpeciesName" + Model.Entity.ToString();
}



@using (Html.BeginForm("_Save", "Species", FormMethod.Post, new { id = "frmEdit" }))
{
    <div id="@sectionId" class="row">

        <div class="col-md-3">
            <div class="form-group">
                
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Entity.GenusName, new { id = txtGenusId, @class = "form-control", })
                    @Html.HiddenFor(x => x.Entity.GenusID)
                    <span class="input-group-append">
                        <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-genus-lookup">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
               
                @Html.TextBoxFor(x => x.Entity.SpeciesName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            
            <div class="input-group">
                @Html.TextBoxFor(x => x.Entity.Protologue, new { @class = "form-control" })
                <span class="input-group-append">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-protologue-lookup">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2">
            
            <div class="input-group">
                @Html.TextBoxFor(x => x.Entity.NameAuthority, new { @class = "form-control" })
                <span class="input-group-append">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-protologue-lookup">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default">Edit</button>
        </div>
    </div>
}

