@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" href="~/Content/dist/css/fonts.googleapis.com.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/Content/dist/css/icheck-bootstrap.min.css" />

    <!-- Datatables -->
    <link rel="stylesheet" href="~/Content/dist/css/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" />

    <style type="text/css">
        .table-col-align-right {
            text-align: right;
        }

        .ggtools-selector input {
            opacity: 1;
            margin-right: 5px;
            margin-left: 3px;
        }

        .ggtools-selector-label {
            margin-left: 25px;
        }

        .ggtools-checkbox {
            margin-top: 40px;
        }

        table.dataTable tbody tr.selected > * {
            box-shadow: inset 0 0 0 9999px rgb(176, 190, 217);
            color: white;
        }

        .margin {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .social-auth-links {
            margin: 0px;
            padding: 0px;
        }

        .button-label {
            margin-left: .3em;
        }

        .checkbox {
            margin-top: 0px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .text-danger {
            background-color: #dd4b39;
            color: white;
        }

        .badge {
            padding: 5px;
            font-size: 9.5pt;
        }

        .infraspecific-hybrid {
            margin-top: 25px;
        }

        #section-extended-search-fields {
            margin-top: 15px;
        }

        .section-checkbox {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <style>
        /*.btn-group, .btn-group-vertical {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                        }*/

        .ul.wysihtml5-toolbar {
            margin: 0;
            padding: 0;
            display: block;
        }

            .ul.wysihtml5-toolbar > li {
                float: left;
                display: list-item;
                list-style: none;
                margin: 0 5px 10px 0;
            }

        ul.wysihtml5-toolbar > li {
            float: left;
            display: list-item;
            list-style: none;
            margin: 0 5px 10px 0;
        }

        .dropdown, .dropup {
            position: relative;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/ggtools/js")
</head>
<body class="hold-transition layout-top-nav text-sm">
    <div class="wrapper">

        <!-- BEGIN MAIN NAVBAR -->
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="~/dist/img/GGlogo_BW.gif" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- BEGIN EDIT PAGE MENU -->
                    <ul class="navbar-nav">
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="@Url.Action("Navigate","Home", new { applicationCode = "GGT-TAX"})" class="nav-link">Home</a>
                        </li>
                        <!-- INFRASPECIFIC-->
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Infraspecific Taxon</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="@Url.Action("Add", "Species", new { @rank = "subspecies", @speciesId = Model.Entity.ID })" class="dropdown-item">Subspecies </a></li>
                                <li><a href="@Url.Action("Add", "Species", new { @rank = "variety", @speciesId = Model.Entity.ID })" class="dropdown-item">Variety</a></li>
                                <li><a href="@Url.Action("Add", "Species", new { @rank = "subvariety", @speciesId = Model.Entity.ID })" class="dropdown-item">Subvariety</a></li>
                                <li><a href="@Url.Action("Add", "Species", new { @rank = "form", @speciesId = Model.Entity.ID })" class="dropdown-item">Form</a></li>
                            </ul>
                        </li>
                        <!-- SYN -->
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Synonym</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @speciesId = Model.Entity.ID, @synonymType="basionym" })" class="dropdown-item">Basionym </a></li>
                                <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @speciesId = Model.Entity.ID, @synonymType="heterotypic" })" class="dropdown-item">Heterotypic</a></li>
                                <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @speciesId = Model.Entity.ID, @synonymType="homotypic" })" class="dropdown-item">Homotypic</a></li>
                                <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @speciesId = Model.Entity.ID, @synonymType="invalid" })" class="dropdown-item">Invalid</a></li>
                            </ul>
                        </li>
                        <!-- REL DATA -->
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Related Data</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li>

                                    <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modal-citation-lookup">
                                        Citation
                                    </button>

                                    @*<a href="@Url.Action("Add", "Citation", new { @speciesId = Model.Entity.ID })"
                            class="dropdown-item">Citation</a>*@
                                </li>
                                <li><a href="@Url.Action("Add", "CommonName", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Common Name</a></li>
                                <li><a href="@Url.Action("Add", "GeographyMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Distribution</a></li>
                                <li><a href="@Url.Action("Add", "Economic Use", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Economic Use</a></li>
                                <li><a href="@Url.Action("Add", "RegualtionMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Regulation</a></li>
                            </ul>
                        </li>
                        <!-- FOLDERS -->
                        @{ Html.RenderAction("_RelatedFoldersMenu", "Folder", new { tableName = Model.TableName, entityId = Model.Entity.ID }); }
                    </ul>
                    <!-- END EDIT PAGE MENU-->
                </div>


                <!-- BEGIN RIGHT-ALIGNED NAV MENU -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if (Model.Entity.ID > 0)
                    {
                        <li id="nav-item-view-website" class="nav-item">
                            <a class="nav-link" href="#" role="button">
                                <i class="far fa-globe"></i>
                                View on Website
                            </a>
                        </li>
                    }
                    @Html.Partial("~/Views/Shared/_NavbarRight.cshtml")
                </ul>
                <!-- END RIGHT-ALIGNED NAV MENU -->

            </div>
        </nav>
        <!-- END MAIN NAVBAR -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                @Html.Raw(ViewBag.Title)
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml")
                        </div>

                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    @using (Html.BeginForm("Edit", "Species", FormMethod.Post, new { id = "frmEdit" }))
                    {
                        @Html.HiddenFor(x => x.EventAction)
                        @Html.HiddenFor(x => x.EventValue)
                        @Html.HiddenFor(x => x.TableName)
                        @Html.HiddenFor(x => x.TableCode)
                        @Html.HiddenFor(x => x.Entity.ID)
                        @Html.HiddenFor(x => x.Entity.Rank)
                        @Html.HiddenFor(x => x.Entity.IsAcceptedName)
                        @Html.HiddenFor(x => x.Entity.CreatedByCooperatorID)
                        @Html.HiddenFor(x => x.Entity.CreatedByCooperatorName)
                        @Html.HiddenFor(x => x.Entity.ModifiedByCooperatorID)
                        @Html.HiddenFor(x => x.Entity.ModifiedByCooperatorName)
                        @Html.HiddenFor(x => x.Entity.InfraspecificType)
                        @Html.HiddenFor(x => x.Entity.IsVarietalHybrid)
                        @Html.HiddenFor(x => x.Entity.IsSubVarietalHybrid)
                        @Html.HiddenFor(x => x.Entity.IsSubspecificHybrid)
                        @Html.HiddenFor(x => x.Entity.IsFormaHybrid)
                        @Html.HiddenFor(x => x.Entity.VerifiedByCooperatorID)
                        @Html.HiddenFor(x => x.Entity.VerifiedByCooperatorName)
                        @Html.HiddenFor(x => x.Entity.NameVerifiedDate)
                        <input type="hidden" id="hfModalEventValue" />
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">Summary</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <span id="section-verification">
                                    @Html.Partial("~/Views/Taxonomy/Species/_Verification.cshtml")
                                </span>
                            </div>
                            <div class="card-body">
                                <div>
                                    @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                                    <div class="row accepted">
                                        <div id="section-accepted-name" class="col-md-4 accepted">
                                            <div class="form-group">
                                                <label>Accepted Name</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(x => x.Entity.AcceptedName, new { @class = "form-control" })
                                                    @Html.HiddenFor(x => x.Entity.AcceptedID)

                                                    @if (Model.Entity.AcceptedID > 0)
                                                    {
                                                        <span class="input-group-btn">
                                                            <a href="@Url.Action("Edit", "Species", new { @entityId = Model.Entity.AcceptedID })" class="btn btn-default btn-flat">
                                                                <i class="fa fa-link"></i>
                                                            </a>
                                                        </span>
                                                    }
                                                    <span class="input-group-btn">
                                                        <button id="btnOpenSpeciesLookupModal" type="button" data-toggle="modal" data-ggtools-action="AcceptedID" data-ggtools-value="AcceptedName" data-target="#modal-species-lookup" class="btn btn-default btn-flat">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="section-synonym-code" class="col-md-2 accepted">
                                            <div class="form-group">
                                                <label>Synonym Code</label>
                                                @Html.DropDownListFor(x => x.Entity.SynonymCode, Model.SynonymCodes, "Select value", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Genus</label>
                                                <div class="input-group mb-3">
                                                    @Html.TextBoxFor(x => x.Entity.GenusName, new { @class = "form-control rounded-0", @readonly = "readonly", @style = "background-color:#f4f6f9;" })
                                                    @Html.HiddenFor(x => x.Entity.GenusID)
                                                    @if (Model.Entity.GenusID > 0)
                                                    {
                                                        <span class="input-group-append">
                                                            <a href="@Url.Action("Edit", "Genus", new { @entityId = Model.Entity.GenusID })" class="btn btn-default btn-flat">
                                                                <i class="fa fa-link"></i>
                                                            </a>
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- If this is a sub-specific rank, show the top-ranked
                                    species name. -->
                                        @if (Model.Entity.Rank.ToUpper() != "SPECIES")
                                        {
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Species Name</label>
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(x => x.Entity.SpeciesName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <!-- BEGIN NAME/SUBTAXON NAME SECTION -->
                                        @switch (Model.Entity.Rank.ToUpper())
                                        {
                                            case "SUBSPECIES":
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Subspecies Name</label>
                                                        @Html.HiddenFor(x => x.Entity.Name)
                                                        @Html.HiddenFor(x => x.Entity.SpeciesName)
                                                        @Html.TextBoxFor(x => x.Entity.SubspeciesName, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Subspecies Authority</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.SubspeciesAuthority, new { @class = "form-control" })
                                                            <span class="input-group-append">
                                                                <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case "VARIETY":
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Variety Name</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.VarietyName, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <a id="btnSetAcceptedOn" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-down"></i> Not Accepted</a>
                                                                <a id="btnSetAcceptedOff" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-up"></i> Accepted</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Authority</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.VarietyAuthority, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case "SUBVARIETY":
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Subvariety Name</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.SubvarietyName, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <a id="btnSetAcceptedOn" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-down"></i> Not Accepted</a>
                                                                <a id="btnSetAcceptedOff" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-up"></i> Accepted</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Authority</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.SubvarietyAuthority, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            case "FORMA":
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Forma Name</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.FormaName, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <a id="btnSetAcceptedOn" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-down"></i> Not Accepted</a>
                                                                <a id="btnSetAcceptedOff" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-up"></i> Accepted</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Authority</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.FormaAuthority, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                            default:
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Epithet</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.SpeciesName, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <a id="btnSetAcceptedOn" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-down"></i> Not Accepted</a>
                                                                <a id="btnSetAcceptedOff" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-up"></i> Accepted</a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Authority</label>
                                                        <div class="input-group">
                                                            @Html.TextBoxFor(x => x.Entity.SpeciesAuthority, new { @class = "form-control" })
                                                            <span class="input-group-btn">
                                                                <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                                    <i class="fa fa-search"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                break;
                                        }
                                        <!-- END NAME/SUBTAXON NAME SECTION -->

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Protologue</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(x => x.Entity.Protologue, new { @class = "form-control" })
                                                    <span class="input-group-append">
                                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-protologue-lookup">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Protologue Virtual Path</label>
                                                @Html.TextBoxFor(x => x.Entity.ProtologueVirtualPath, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Hybrid Parentage</label>
                                                @Html.TextBoxFor(x => x.Entity.HybridParentage, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group section-checkbox">
                                                <div class="icheck-primary d-inline">
                                                    @Html.CheckBoxFor(x => x.Entity.IsSpecificHybridOption)
                                                    <label for="Entity_IsSpecificHybridOption">
                                                        Hybrid
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group section-checkbox">
                                                <div class="icheck-primary d-inline">
                                                    @Html.CheckBoxFor(x => x.Entity.IsWebVisibleOption)
                                                    <label for="Entity_IsWebVisibleOption">
                                                        Web Visible
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- BEGIN NOTE FIELD -->
                                        <div class="col-md-12">
                                            <label>Note</label>
                                            <div class="input-group">
                                               
                                                @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control", })
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-note-lookup">
                                                        <i class="fa fa-search margin-r-5"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- END NOTE FIELD-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Partial("~/Views/Taxonomy/Species/_RevisionHistory.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Refresh")" class="btn btn-default">Reset</a>
                                @if (Model.Entity.ID > 0)
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                }
                                <button type="submit" class="btn btn-info float-right">Save</button>
                            </div>
                        </div>
                    }

                    @if (Model.Entity.ID > 0)
                    {
                        <div class="card">
                            <div id="section-dependent-data" class="card-header p-2">
                                <ul id="list-dependent-data" class="nav nav-pills">
                                    <li id="tab_selector_conspecific" data-ggtools-action="Species" data-ggtools-value="_ListConspecific" class="nav-item"><a class="nav-link active" href="#tab_content_conspecific" data-toggle="tab">Conspecific</a></li>
                                    <li id="tab_selector_citation" data-ggtools-action="Citation" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_citation" data-toggle="tab">Citations</a></li>
                                    <li id="tab_selector_taxonomy_common_name" data-ggtools-action="CommonName" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_common_name" data-toggle="tab">Common Names</a></li>
                                    <li id="tab_selector_taxonomy_species_synonym_map" data-ggtools-action="SpeciesSynonymMap" data-ggtools-value="_ListSynonyms" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_species_synonym_map" data-toggle="tab">Synonyms</a></li>
                                    <li id="tab_selector_taxonomy_geography_map" data-ggtools-action="GeographyMap" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_geography_map" data-toggle="tab">Distributions</a></li>
                                    <li id="tab_selector_taxonomy_regulation_map" data-ggtools-action="RegulationMap" data-ggtools-value="_List" class="nav-item"><a class="nav-link" href="#tab_content_taxonomy_regulation_map" data-toggle="tab">Regulations</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_content_conspecific">
                                    </div>
                                    <div class="tab-pane" id="tab_content_citation">
                                    </div>
                                    <div class="tab-pane" id="tab_content_taxonomy_common_name">
                                    </div>
                                    <div class="tab-pane" id="tab_content_taxonomy_species_synonym_map">
                                    </div>
                                    <div class="tab-pane" id="tab_content_taxonomy_geography_map">
                                    </div>
                                    <div class="tab-pane" id="tab_content_taxonomy_regulation_map">
                                    </div>
                                </div>
                            </div>
                            <div id="progress_overlay" class="overlay">
                                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                            </div>
                        </div>
                    }

                    @Html.Partial("~/Views/Taxonomy/Genus/Modals/_Lookup.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Species/Modals/_Lookup.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Author/Modals/_Lookup.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Species/Modals/_LookupProtologue.cshtml")
                    @Html.Partial("~/Views/Shared/Modals/_NoteLookup2.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Shared/Modals/_Delete.cshtml")
                    @{Html.RenderAction("RenderLookupModal", "Citation", new { @tableName = Model.TableName, @isMultiSelect = "Y" }); }
                    @{Html.RenderAction("_Edit", "Folder"); }
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            Init();
        });

        function Init() {
            SetControlVisibility();
            var defaultId = $('ul#list-dependent-data li:first').attr("id");
            var action = $('ul#list-dependent-data li:first').data("ggtools-action");
            var value = $('ul#list-dependent-data li:first').data("ggtools-value");

            LoadDependentData(defaultId, action, value);
        }

        $(document).on("click", "[id*='btnSetVerified']", function () {
            var link = '@Url.Action("SetVerificationStatus","Species")';
            var value = $(this).data("ggtools-value");
            SetVerifiedStatus(value);
        });

        function SetVerifiedStatus(statusCode) {
            var link = '@Url.Action("SetVerificationStatus","Species")';
            var entityId = $("#Entity_ID").val();
            var formData = new FormData();

            formData.append("speciesId", entityId);
            formData.append("statusCode", statusCode);

            $("#EventAction").val("VERIFY");
            $("#EventValue").val(statusCode);

            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-verification").html(response);
                },
                error: function () {
                    alert("Error");
                }
            });
        }

        $('#section-dependent-data ul.nav li').on('click', function () {
            var selectedId = $(this).attr('id');
            var action =  $(this).data("ggtools-action");
            var value = $(this).data("ggtools-value");

            LoadDependentData(selectedId, action, value);
        });

        function LoadDependentData(controlId, eventAction, eventValue) {
            var link = '@Url.Action("EVENT_VALUE","EVENT_ACTION", new { speciesId = "SPECIES_ID" })';
            var entityId = $("#Entity_ID").val();
            var genusId = $("#Entity_GenusID").val();
            var genusName = $("#Entity_Name").val();
            var formData = new FormData();
            var sectionData = controlId.replace("tab_selector", "tab_content");

            link = link.replace("EVENT_ACTION", eventAction);
            link = link.replace("EVENT_VALUE", eventValue);
            link = link.replace("SPECIES_ID", entityId);

            formData.append("SpeciesID", entityId);

            $("#progress_overlay").show();

            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#" + sectionData).html(response);
                    $("#progress_overlay").hide();
                }
            });
        }

    </script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Content/dist/js/DataTables/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Content/dist/js/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/DataTables/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
</body>
</html>
