@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@{
    ViewBag.Title = Model.PageTitle;
    ViewBag.ID = Model.ID;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@using (Html.BeginForm("Search", "Species", FormMethod.Post, new { id = "frmMain" }))
{
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.EventValue)
    @Html.HiddenFor(x => x.TableName)
    @Html.HiddenFor(x => x.TableCode)
    @Html.HiddenFor(x => x.PageTitle)
    @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
    @Html.HiddenFor(x => x.ItemIDList)
    @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
    @Html.Partial("~/Views/Taxonomy/Species/_Detail.cshtml")
}

<div id="section-search-results" class="data-list">
    @Html.Partial("~/Views/Taxonomy/Species/_List.cshtml")
</div>

@{Html.RenderAction("_Edit", "Folder"); }

<script type="text/javascript">

    $(document).ready(function () {
        Init();
        SetExtendedFields();
    });

    function Init() {
        var eventAction = $("#EventAction").val();
        if (eventAction == "SHOW-SEARCH") {
            $("#section-search-criteria").show();
            $("#btnShowAggregateChildData").prop("disabled", false);
        }
        else {
            $("#btnShowAggregateChildData").prop("disabled", true);
        }
    }

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnSearch").click();
        }
    });

    /*
    * ===================================================================================================
    * INFRASPECIFIC CONTROLS
    * ===================================================================================================
    */
    //$("#Entity_Rank").change(function () {
    //    var selectedRank = this.value;
    //    SetInfraspecificControls(selectedRank);
    //});

    //function SetInfraspecificControls(rank) {
    //    var sectionName = "#section-infraspecific-" + rank.toLowerCase();
    //    var sectionAuthority = sectionName + "-authority";
    //    var sectionHybrid = "#section-hybrid-" + rank.toLowerCase();
    //    var isAcceptedName = $("#Entity_IsAcceptedName").val();

    //    if (isAcceptedName == "Y") {
    //        $(".accepted").hide();
    //    }
    //    else {
    //        $(".accepted").show();
    //    }

    //    $(".infra").hide();
    //    $(sectionName).show();
    //    $(sectionAuthority).show();
    //    $(sectionHybrid).show();
    //}
</script>