@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Shared/_Head.cshtml")
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        @Html.HiddenFor(x => x.EventAction)
        @Html.HiddenFor(x => x.EventValue)
        @Html.HiddenFor(x => x.Entity.Rank)
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="~/dist/img/gringlobal-logo.jfif" alt="GRIN-Global Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- BEGIN EDIT PAGE MENU -->
                    <ul class="navbar-nav">
                        <!-- INFRASPECIFIC-->
                        <li class="nav-item dropdown">
                            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">New</a>
                            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                <li><a href="@Url.Action("Add", "Species", new { @rank = "species" })" class="dropdown-item">Species </a></li>
                                <li><button id="btnAddInfraSubspecies" class="dropdown-item" type="button">Subspecies</button>
                                <li><button id="btnAddInfraVariety" class="dropdown-item" type="button">Variety</button></li>
                                <li><button id="btnAddInfraSubvariety" class="dropdown-item" type="button">Subvariety</button></li>
                                <li><button id="btnAddInfraForm" class="dropdown-item" type="button">Form</button></li>
                            </ul>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a href="#" id="btnOpenFolderModal" class="nav-link">Add to Folder</a>
                        </li>
                    </ul>
                    <!-- END EDIT PAGE MENU-->
                </div>

                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-user"></i>

                        </a>

                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                            <span class="dropdown-item dropdown-header">@AppInfo.GetAuthenticatedUser().FullName</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-clock mr-2"></i> Logged In
                                <span class="float-right text-muted text-sm"> </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Logout","Login")" class="dropdown-item dropdown-footer bg-danger">Log Out</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                            <i class="fas fa-expand-arrows-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                @Html.Raw(ViewBag.Title)
                                @*<small>Example 3.0</small>*@
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <!-- TODO BREADCRUMBS -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    <div id="section-folder-confirmation"></div>
                    @using (Html.BeginForm("Search", "Species", FormMethod.Post, new { id = "frmMain" }))
                    {
                        @Html.HiddenFor(x => x.EventAction)
                        @Html.HiddenFor(x => x.EventValue)
                        @Html.HiddenFor(x => x.TableName)
                        @Html.HiddenFor(x => x.TableCode)
                        @Html.HiddenFor(x => x.PageTitle)
                        @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
                        @Html.HiddenFor(x => x.ItemIDList)
                        @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
                        @Html.Partial("~/Views/Taxonomy/Species/_Detail.cshtml")
                    }
                    <div id="section-search-results" class="data-list">
                        @Html.Partial("~/Views/Taxonomy/Species/_List.cshtml")
                    </div>
                    @{Html.RenderAction("_Edit", "Folder"); }

                    <script type="text/javascript">
                        $(document).ready(function () {
                            Init();
                            /*InitializeCKEditor();*/
                        });

                        function Init() {

                        }
                    </script>
                    <br />
                </div>
            </div>

        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

    @{Html.RenderAction("_Edit", "Folder"); }
    @{Html.RenderAction("RenderParentLookupModal", "Species"); }

    <script type="text/javascript">

        //$(document).ready(function () {
        //    Init();
        //    SetExtendedFields();
        //});

        //function Init() {
        //    var eventAction = $("#EventAction").val();
        //    if (eventAction == "SHOW-SEARCH") {
        //        $("#section-search-criteria").show();
        //        $("#btnShowAggregateChildData").prop("disabled", false);
        //    }
        //    else {
        //        $("#btnShowAggregateChildData").prop("disabled", true);
        //    }

        //    $(function () {
        //        $("#reservation").datepicker();
        //    });
        //}

        $(document).on("click", "[id*='btnAddInfra']", function () {
            var id = $(this).attr("id");
            var value = id.replace("btnAddInfra","")
            $("#Entity_Rank").val(value);
            $("#section-rank-title").html(value);
            $("#modal-species-lookup").modal("show");
        });

        $(document).on("click", "[id='btnSaveInfraspecificTaxon']", function () {
            var rank = $("#Entity_Rank").val();
            var parentSpeciesId = GetSelectedEntityIDs("data-table-species-lookup");

            var link = '@Url.Action("Add","Species", new { @rank = "RANK" })';
            link = link.replace("RANK", rank);
            link = link + "&entityId=" + parentSpeciesId;
            window.location.href = link;
        });
    </script>
</body>
</html>
@Html.Partial("~/Views/Shared/_Scripts.cshtml")
