@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
<div id="modal-cooperator-add" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Request New Curator Tool Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_Edit", "Cooperator", FormMethod.Post, new { id = "frmAddCooperator" }))
                {
                    @Html.HiddenFor(x => x.PageTitle)
                    @*@Html.HiddenFor(x => x.IsReadOnly)*@
                    @Html.HiddenFor(x => x.EventAction)
                    @Html.HiddenFor(x => x.EventValue)
                    @Html.HiddenFor(x => x.TableName)
                    @Html.HiddenFor(x => x.TableCode)
                    @Html.HiddenFor(x => x.Entity.ID)
                    @Html.HiddenFor(x => x.Entity.StatusCode)
                    @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Salutation</label>
                                @Html.DropDownListFor(x => x.Entity.Salutation, Model.Salutations, "Select value", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>First Name</label>
                                @Html.TextBoxFor(x => x.Entity.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Last Name</label>
                                @Html.TextBoxFor(x => x.Entity.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Job Title</label>
                                @Html.TextBoxFor(x => x.Entity.JobTitle, new { @class = "form-control" })
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Organization</label>
                                @Html.TextBoxFor(x => x.Entity.Organization, new { @class = "form-control" })
                                </div>
                            </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Abbrev</label>
                                @Html.TextBoxFor(x => x.Entity.OrganizationAbbrev, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(x => x.Entity.EmailAddress, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                @Html.TextBoxFor(x => x.Entity.PrimaryPhone, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Category</label>
                            @Html.DropDownListFor(x => x.Entity.CategoryCode, Model.Categories, "Select value", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Site</label>
                                @Html.DropDownListFor(x => x.Entity.SiteID, Model.Sites, "Select site", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(x => x.Entity.AddressLine1, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Entity.AddressLine2, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Entity.AddressLine3, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(x => x.Entity.City, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>State/Geo</label>
                            @Html.DropDownListFor(x => x.Entity.GeographyID, Model.States, "Select state", new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>Postal Code</label>
                            @Html.TextBoxFor(x => x.Entity.PostalIndex, new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button id="btnSubmitCooperatorAdd" type="button" class="btn btn-info float-right" data-dismiss="modal">Submit Request</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#Entity_SiteID').on('change', function () {
        LoadSite(this.value);
    });

    function LoadSite(siteId) {
        link = '@Url.Action("_Get","Site")';
        var formData = new FormData();

        formData.append("siteId", siteId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                $("#Entity_AddressLine1").val(data.site.PrimaryAddress1);
                $("#Entity_AddressLine2").val(data.site.PrimaryAddress2);
                $("#Entity_City").val(data.site.PrimaryCity);
                $("#Entity_GeographyID").val(data.site.GeographyID);
                $("#Entity_PostalIndex").val(data.site.PostalIndex);
            },
            error: function (ex) {
            }
        });
    }
</script>