@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">My Cooperator Record</h3>
    </div>

    <div class="card-body">
        <strong><i class="fas fa-book mr-1"></i> Status</strong>
        <p class="text-muted">
            @Model.Entity.StatusCode
        </p>
        <hr>
        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
        <p class="text-muted">@Model.Entity.SiteName @Model.Entity.SiteShortName</p>
        <p>@Model.Entity.AddressLine1</p>
        <p>@Model.Entity.AddressLine2</p>
        <p>@Model.Entity.City, @Model.Entity.StateName @Model.Entity.PostalIndex</p>
        <hr>
        <strong><i class="fas fa-pencil-alt mr-1"></i> Organization</strong>
        <p class="text-muted">
            @Model.Entity.Organization @Model.Entity.OrganizationAbbrev
        </p>
        <hr>
        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        <a href="#" class="btn btn-outline-primary btn-block"><b>Edit</b></a>
    </div>

</div>