@model USDA.ARS.GRIN.GGTools.ViewModelLayer.CooperatorViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<style>
    .row {
        margin-top: 5px;
    }
</style>

<div class="row">
    @if (Model.Entity.ID > 0)
    {
        <div class="col-md-3">
            <div id="section-sys-user-widget">
                @{Html.RenderAction("RenderWidget", "SysUser", new { entityId = Model.Entity.SysUserID }); }
            </div>
        </div>
    }
    <div id="section-input-fields" class="@Model.MainSectionCSSClass">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Summary</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Record Ownership</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        @using (Html.BeginForm("Edit", "Cooperator", FormMethod.Post, new { id = "frmEdit" }))
                        {
                            @Html.HiddenFor(x => x.PageTitle)
                            @Html.HiddenFor(x => x.IsReadOnly)
                            @Html.HiddenFor(x => x.EventAction)
                            @Html.HiddenFor(x => x.EventValue)
                            @Html.HiddenFor(x => x.TableName)
                            @Html.HiddenFor(x => x.TableCode)
                            @Html.HiddenFor(x => x.Entity.ID)
                            @Html.HiddenFor(x => x.Entity.SysUserID)
                            @Html.HiddenFor(x => x.Entity.SysUserName)
                            @Html.HiddenFor(x => x.Entity.StatusCode)
                            @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <br />
                                        @if (Model.Entity.StatusCode == "ACTIVE")
                                        {
                                            <span class="badge bg-green">
                                                @Model.Entity.StatusCode
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-red">
                                                @Model.Entity.StatusCode
                                            </span>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Salutation</label>
                                        @Html.DropDownListFor(x => x.Entity.Salutation, Model.Salutations, "Select value", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        @Html.TextBoxFor(x => x.Entity.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        @Html.TextBoxFor(x => x.Entity.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Job Title</label>
                                    @Html.TextBoxFor(x => x.Entity.JobTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Organization</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Entity.Organization, new { @class = "form-control" })
                                        <span class="input-group-btn">
                                            @*@Html.TextBoxFor(x => x.Entity.OrganizationAbbrev, new { @class = "form-control", @style = "width:80px;" })*@
                                            <button type="button" data-toggle="modal" data-target="#modal-organization-lookup" class="btn btn-default btn-flat">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Site</label>
                                        @Html.DropDownListFor(x => x.Entity.SiteID, Model.Sites, "Select site", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Category</label>
                                    @Html.DropDownListFor(x => x.Entity.CategoryCode, Model.Categories, "Select value", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(x => x.Entity.EmailAddress, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Secondary Email</label>
                                        @Html.TextBoxFor(x => x.Entity.SecondaryEmailAddress, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Primary Phone</label>
                                        @Html.TextBoxFor(x => x.Entity.PrimaryPhone, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Secondary Phone</label>
                                        @Html.TextBoxFor(x => x.Entity.SecondaryPhone, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Primary Address</label>
                                        @Html.TextBoxFor(x => x.Entity.AddressLine1, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Entity.AddressLine2, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Entity.AddressLine3, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.TextBoxFor(x => x.Entity.City, new { @class = "form-control" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State/Geo</label>
                                            @Html.DropDownListFor(x => x.Entity.GeographyID, Model.States, "Select state", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label>Postal Code</label>
                                            @Html.TextBoxFor(x => x.Entity.PostalIndex, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Secondary Address</label>
                                        @Html.TextBoxFor(x => x.Entity.SecondaryAddressLine1, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Entity.SecondaryAddressLine2, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.Entity.SecondaryAddressLine3, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.TextBoxFor(x => x.Entity.SecondaryCity, new { @class = "form-control" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State/Geo</label>
                                            @Html.DropDownListFor(x => x.Entity.SecondaryGeographyID, Model.States, "Select state", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <label>Postal Code</label>
                                            @Html.TextBoxFor(x => x.Entity.SecondaryPostalIndex, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="section-edit-controls" class="edit-controls" style="margin-top:25px;">
                                <button type="button" class="btn btn-danger">Cancel</button>
                                <a href="@Url.Action("Edit","WebCooperator", new { entityId = Model.Entity.WebCooperatorID })" class="btn btn-default">
                                    Web Cooperator
                                </a>
                                <button type="submit" class="btn btn-primary float-right">Save</button>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="timeline">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Partial("~/Views/Cooperator/_RecordsOwnedDetailList.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        var isReadOnly = $("#IsReadOnly").val();
        if (isReadOnly == "Y") {
            SetReadOnly();
        }
    }

    //function Validate(password, passwordConfirmed) {
    //    if (password != passwordConfirmed) {
    //        return false;
    //    }
    //    return true;
    //}

    /*===========================================================================
     * ADD SYS USER
     *===========================================================================
     */
    //$("#btnSubmitAddSysUser").click(function () {
    //    var userName = $("#txtEditSysUserName").val();
    //    var password = $("#txtEditSysUserPassword").val();
    //    var passwordConfirmed = $("#txtEditSysUserPasswordConfirmed").val();
    //    var validationResult = "";

    //    validationResult = Validate(userName, password, passwordConfirmed);

    //    if (validationResult == "") {
    //        $("#modal-sys-user-edit").modal("hide");
    //        AddSysUser(userName, password);
    //    }
    //});

    @*function AddSysUser(userName, password) {
        var link = '@Url.Action("Add", "SysUser")';
        var cooperatorId = $("#Entity_ID").val();
        var formData = new FormData();

        formData.append("CooperatorID", cooperatorId);
        formData.append("SysUserName", userName);
        formData.append("SysUserPassword", password);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#section-sys-user-widget").html(result);
                LoadGroups();
            },
            error: function () {
                    alert("Error");
                }
        });
        $("#modal-sys-user-edit").modal("hide");
    }*@

    /*===========================================================================
     * UPDATE SYS USER
     *===========================================================================
     */
    @*$("#btnSubmitUpdateSysUser").click(function () {
        var userName = $("#Entity_SysUserName").val();
        var password = $("#txtResetSysUserPassword").val();
        var passwordConfirmed = $("#txtResetSysUserPasswordConfirmed").val();
        var validationResult = "";

        validationResult = Validate(userName, password, passwordConfirmed);

        if (validationResult == "") {
            $("#modal-sys-user-edit").modal("hide");
            UpdateSysUser(userName, password);
        }
    });

    function UpdateSysUser(userName, password) {
        var link = '@Url.Action("ResetPassword", "SysUser")';
        var sysUserId = $("#Entity_SysUserID").val();
        var sysUserName = $("#Entity_SysUserName").val();
        var formData = new FormData();

        formData.append("SysUserID", sysUserId);
        formData.append("SysUserName", sysUserName);
        formData.append("SysUserPassword", password);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#section-sys-user-widget").html(result);
                LoadGroups();
            },
            error: function () {
                    alert("Error");
                }
        });
        $("#modal-reset-password").modal("hide");
    }*@

    /*===========================================================================
     * SYS GROUPS
     *===========================================================================
     */
    @*function LoadGroups()
    {
        var sysUserId = $("#Entity_SysUserID").val();
        var link = '@Url.Action("RenderGroupWidget","SysUser")' + "?entityId=" + sysUserId;
        var formData = new FormData();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#section-sys-user-group-widget").html(result);
            },
            error: function () {
                alert("Error");
            }
        });
    }*@

</script>


