@model USDA.ARS.GRIN.GGTools.ViewModelLayer.AppUserItemListViewModel
<table id="data_table_app_user_item_list" class="table table-striped search-results" style=" width:100%;">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>ID</th>
            <th>ID Type</th>
            <th>ID Number</th>
            <th>List Name</th>
            <th>Item Title</th>
            <th>Created</th>
            <th>Last Modified</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollection)
        {
            <tr>
                <td></td>
                <td></td>
                <td>
                    @result.ID
                </td>
                <td>
                    @result.IDType
                </td>
                <td>
                    @result.EntityID
                </td>
                <td>
                    @result.ListName
                </td>
                <td>@result.ItemTitle</td>
                <td>
                    @result.CreatedDate.ToShortDateString() at @result.CreatedDate.ToShortTimeString()
                </td>
                <td>
                    @if (result.ModifiedDate > DateTime.MinValue)
                    {
                        @result.ModifiedDate.ToShortDateString()
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableFolderFormat("data_table_app_user_item_list");
    });
</script>