@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
@Html.Partial("~/Views/Shared/_Head.cshtml")
<body class="hold-transition layout-top-nav text-sm">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/dist/img/GGlogo_BW.gif" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- BEGIN EDIT PAGE MENU -->
                    <ul class="navbar-nav">
                        @if (Model.Entity.ID > 0)
                        {
                            <!-- INFRASPECIFIC-->
                            <!--<li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Infraspecific Taxon</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "subspecies", @entityId = Model.Entity.ID })" class="dropdown-item">Subspecies </a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "variety", @entityId = Model.Entity.ID })" class="dropdown-item">Variety</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "subvariety", @entityId = Model.Entity.ID })" class="dropdown-item">Subvariety</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "form", @entityId = Model.Entity.ID })" class="dropdown-item">Form</a></li>
                                </ul>
                            </li>-->
                            <!-- SYN -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Synonym</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "basionym", @rank = "species" })" class="dropdown-item">Basionym </a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "heterotypic", @rank = "species" })" class="dropdown-item">Heterotypic</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "homotypic", @rank = "species" })" class="dropdown-item">Homotypic</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "invalid", @rank = "species" })" class="dropdown-item">Invalid</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @entityId = Model.Entity.ID, @synonymType = "invalid" })" class="dropdown-item">Map</a></li>
                                </ul>
                            </li>
                            <!-- REL DATA -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Related Data</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Citation", new { @eventAction = "Species", @eventValue = "AddDependentData", @speciesId = Model.Entity.ID })" class="dropdown-item">Citation </a></li>
                                    <li><a href="@Url.Action("Add", "CommonName", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Common Name</a></li>
                                    <li>
                                        <button id="btnOpenGeographyLookupModal"
                                                type="button"
                                                data-toggle="modal"
                                                data-target="#modal-geography-lookup"
                                                data-ggtools-species-id="@Model.ID"
                                                class="dropdown-item">
                                            Distribution
                                        </button>
                                    </li>
                                    <li><a href="@Url.Action("Add", "EconomicUse", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Economic Use</a></li>
                                    <li><a href="@Url.Action("Add", "RegulationMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Regulation</a></li>
                                </ul>
                            </li>
                            <!-- FOLDERS -->
                            { Html.RenderAction("_RelatedFoldersMenu", "Folder", new { tableName = Model.TableName, entityId = Model.Entity.ID }); }
                        }
                    </ul>
                    <!-- END EDIT PAGE MENU-->
                </div>
                <!-- BEGIN RIGHT-ALIGNED NAV MENU -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if (Model.Entity.ID > 0)
                    {
                        <li id="nav-item-view-website" class="nav-item">
                            <a class="nav-link" href="#" role="button">
                                <i class="far fa-globe"></i>
                                View on Website
                            </a>
                        </li>
                    }
                    @Html.Partial("~/Views/Shared/_NavbarRight.cshtml")
                </ul>
                <!-- END RIGHT-ALIGNED NAV MENU -->

            </div>
        </nav>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                <!-- TODO Refactor into _Title partial; create for each taxon type-->
                                @{string actionName = ViewContext.RouteData.Values["action"].ToString(); }
                                @actionName

                                @if (actionName.ToLower() == "add")
                                {
                                    if (!String.IsNullOrEmpty(Model.Entity.SynonymCode))
                                    {
                                        <span>@Model.ToTitleCase(Model.Entity.SynonymDescription)</span>

                                        if ((Model.Entity.SynonymCode == "heterotypic") || (Model.Entity.SynonymCode == "homotypic") || (Model.Entity.SynonymCode == "invalid"))
                                        {
                                            <span>Synonym </span>
                                        }
                                        <span>of <a href="@Url.Action("Edit","Species", new { @entityId = Model.Entity.ParentID })">@Html.Raw(Model.Entity.ParentName)</a></span>
                                    }

                                    if (Model.Entity.Rank.ToLower() != "species")
                                    {
                                        <span>@Model.ToTitleCase(Model.Entity.Rank) of <a href="@Url.Action("Edit", "Species", new { @entityId = Model.Entity.ParentID })">@Html.Raw(Model.Entity.ParentName)</a></span>
                                    }
                                    else
                                    {
                                        @*<span>Species</span>*@
                                    }
                                }
                                else
                                {
                                    <span>Species [@Model.Entity.ID]: @Html.Raw(Model.Entity.AssembledName)</span>
                                }
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            @Html.Partial("~/Views/Taxonomy/Shared/_Breadcrumbs.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    <div id="section-folder-confirmation"></div>
                    <div id="section-search-criteria" class="row">
                        <div class="col-md-4">
                            <div class="card card-primary card-outline dual-select">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-leaf"></i> Species A
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.SearchEntity.SpeciesName, new { @class = "form-control" })
                                                @Html.HiddenFor(x => x.SearchEntity.ID)
                                                <span class="input-group-append">
                                                    <button type="button" id="btnLookupSpeciesA" data-ggtools-action="species-a" data-ggtools-value="" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <div class="form-group clearfix float-right" style="margin-top:10px;">
                                                <div class="icheck-primary d-inline">
                                                    @Html.CheckBoxFor(x => x.SearchEntity.IsAccepted)
                                                    <label for="SearchEntity_SpeciesAIsAcceptedOption">
                                                        Search only accepted names
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="section-search-results-species-a" class="col-md-12">
                                            <!-- DATA HERE -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="btnClearAllSpeciesA" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-primary card-tabs">
                                <div class="card-header p-0 pt-1">
                                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Citation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Distribution</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Economic Use</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill" href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Common Name</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin malesuada lacus ullamcorper dui molestie, sit amet congue quam finibus. Etiam ultricies nunc non magna feugiat commodo. Etiam odio magna, mollis auctor felis vitae, ullamcorper ornare ligula. Proin pellentesque tincidunt nisi, vitae ullamcorper felis aliquam id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id orci eu lectus blandit suscipit. Phasellus porta, ante et varius ornare, sem enim sollicitudin eros, at commodo leo est vitae lacus. Etiam ut porta sem. Proin porttitor porta nisl, id tempor risus rhoncus quis. In in quam a nibh cursus pulvinar non consequat neque. Mauris lacus elit, condimentum ac condimentum at, semper vitae lectus. Cras lacinia erat eget sapien porta consectetur.
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                            Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                            Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                                            Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        SetControlVisibility();

        //// Set the tab of the current selector to "active".
        //SetRankSelectorTab();

        // Load default-visible tab of dependent data.
        var defaultId = $('ul#list-dependent-data li:first').attr("id");
        var action = $('ul#list-dependent-data li:first').data("ggtools-action");
        var value = $('ul#list-dependent-data li:first').data("ggtools-value");
        LoadDependentData(defaultId, action, value);
    }

    $(document).on("click", "[id*='btnSetVerified']", function () {
        var link = '@Url.Action("SetVerificationStatus","Species")';
        var value = $(this).data("ggtools-value");
        SetVerifiedStatus(value);
    });

    $(document).on("click", "[id*='btnAddAutonym']", function () {
        var link = '@Url.Action("AddAutonym","Species")';
        var entityId = $("#Entity_ID").val();
        link = link + "?entityId=" + entityId;
        window.location.href = link;
    });

    function SetRankSelectorTab() {
        var rank = $("#Entity_Rank").val();
        var tabId = "#tab-" + rank.toLowerCase();
        $(tabId).addClass("active");
    }

    function SetVerifiedStatus(statusCode) {
        var link = '@Url.Action("SetVerificationStatus","Species")';
        var entityId = $("#Entity_ID").val();
        var formData = new FormData();

        formData.append("speciesId", entityId);
        formData.append("statusCode", statusCode);

        $("#EventAction").val("VERIFY");
        $("#EventValue").val(statusCode);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-verification").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    $('#section-dependent-data ul.nav li').on('click', function () {
        var selectedId = $(this).attr('id');
        var action =  $(this).data("ggtools-action");
        var value = $(this).data("ggtools-value");

        LoadDependentData(selectedId, action, value);
    });

    function LoadDependentData(controlId, eventAction, eventValue) {
        var link = '@Url.Action("EVENT_VALUE","EVENT_ACTION", new { speciesId = "SPECIES_ID" })';
        var entityId = $("#Entity_ID").val();
        var genusId = $("#Entity_GenusID").val();
        var genusName = $("#Entity_Name").val();
        var formData = new FormData();
        var sectionData = controlId.replace("tab_selector", "tab_content");

        link = link.replace("EVENT_ACTION", eventAction);
        link = link.replace("EVENT_VALUE", eventValue);
        link = link.replace("SPECIES_ID", entityId);

        formData.append("SpeciesID", entityId);

        $("#progress_overlay").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#" + sectionData).html(response);
                $("#progress_overlay").hide();
            }
        });
    }
</script>
@Html.Partial("~/Views/Shared/_Scripts.cshtml")
