@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SpeciesViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
@Html.Partial("~/Views/Shared/_Head.cshtml")
<body class="hold-transition layout-top-nav text-sm">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="~/dist/img/GGlogo_BW.gif" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- BEGIN EDIT PAGE MENU -->
                    <ul class="navbar-nav">
                        @if (Model.Entity.ID > 0)
                        {
                            <!-- INFRASPECIFIC-->
                            <!--<li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Infraspecific Taxon</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "subspecies", @entityId = Model.Entity.ID })" class="dropdown-item">Subspecies </a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "variety", @entityId = Model.Entity.ID })" class="dropdown-item">Variety</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "subvariety", @entityId = Model.Entity.ID })" class="dropdown-item">Subvariety</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @rank = "form", @entityId = Model.Entity.ID })" class="dropdown-item">Form</a></li>
                                </ul>
                            </li>-->
                            <!-- SYN -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Synonym</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "basionym", @rank = "species" })" class="dropdown-item">Basionym </a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "heterotypic", @rank = "species" })" class="dropdown-item">Heterotypic</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "homotypic", @rank = "species" })" class="dropdown-item">Homotypic</a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @entityId = Model.Entity.ID, @synonymTypeCode = "invalid", @rank = "species" })" class="dropdown-item">Invalid</a></li>
                                    <div class="dropdown-divider"></div>
                                    <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @entityId = Model.Entity.ID, @synonymType = "invalid" })" class="dropdown-item">Map</a></li>
                                </ul>
                            </li>
                            <!-- REL DATA -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Related Data</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Citation", new { @eventAction = "Species", @eventValue = "AddDependentData", @speciesId = Model.Entity.ID })" class="dropdown-item">Citation </a></li>
                                    <li><a href="@Url.Action("Add", "CommonName", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Common Name</a></li>
                                    <li>
                                        <button id="btnOpenGeographyLookupModal"
                                                type="button"
                                                data-toggle="modal"
                                                data-target="#modal-geography-lookup"
                                                data-ggtools-species-id="@Model.ID"
                                                class="dropdown-item">
                                            Distribution
                                        </button>
                                    </li>
                                    <li><a href="@Url.Action("Add", "EconomicUse", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Economic Use</a></li>
                                    <li><a href="@Url.Action("Add", "RegulationMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Regulation</a></li>
                                </ul>
                            </li>
                            <!-- FOLDERS -->
                            { Html.RenderAction("_RelatedFoldersMenu", "Folder", new { tableName = Model.TableName, entityId = Model.Entity.ID }); }
                        }
                    </ul>
                    <!-- END EDIT PAGE MENU-->
                </div>
                <!-- BEGIN RIGHT-ALIGNED NAV MENU -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if (Model.Entity.ID > 0)
                    {
                        <li id="nav-item-view-website" class="nav-item">
                            <a class="nav-link" href="#" role="button">
                                <i class="far fa-globe"></i>
                                View on Website
                            </a>
                        </li>
                    }
                    @Html.Partial("~/Views/Shared/_NavbarRight.cshtml")
                </ul>
                <!-- END RIGHT-ALIGNED NAV MENU -->

            </div>
        </nav>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                <!-- TODO Refactor into _Title partial; create for each taxon type-->
                                @{string actionName = ViewContext.RouteData.Values["action"].ToString(); }
                                @actionName

                                @if (actionName.ToLower() == "add")
                                {
                                    if (!String.IsNullOrEmpty(Model.Entity.SynonymCode))
                                    {
                                        <span>@Model.ToTitleCase(Model.Entity.SynonymDescription)</span>

                                        if ((Model.Entity.SynonymCode == "heterotypic") || (Model.Entity.SynonymCode == "homotypic") || (Model.Entity.SynonymCode == "invalid"))
                                        {
                                            <span>Synonym </span>
                                        }
                                        <span>of <a href="@Url.Action("Edit","Species", new { @entityId = Model.Entity.ParentID })">@Html.Raw(Model.Entity.ParentName)</a></span>
                                    }

                                    if (Model.Entity.Rank.ToLower() != "species")
                                    {
                                        <span>@Model.ToTitleCase(Model.Entity.Rank) of <a href="@Url.Action("Edit", "Species", new { @entityId = Model.Entity.ParentID })">@Html.Raw(Model.Entity.ParentName)</a></span>
                                    }
                                    else
                                    {
                                        @*<span>Species</span>*@
                                    }
                                }
                                else
                                {
                                    <span>Species [@Model.Entity.ID]: @Html.Raw(Model.Entity.AssembledName)</span>
                                }
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            @Html.Partial("~/Views/Taxonomy/Shared/_Breadcrumbs.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    <div id="section-folder-confirmation"></div>
                    <div id="section-search-criteria" class="row">
                        <div class="col-md-4">
                            <div class="card card-primary card-outline dual-select">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-leaf"></i> Species A
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.SearchEntity.SpeciesName, new { @class = "form-control" })
                                                @Html.HiddenFor(x => x.SearchEntity.ID)
                                                <span class="input-group-append">
                                                    <button type="button" id="btnLookupSpeciesA" data-ggtools-action="species-a" data-ggtools-value="" class="btn btn-default btn-flat"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <div class="form-group clearfix float-right" style="margin-top:10px;">
                                                <div class="icheck-primary d-inline">
                                                    @Html.CheckBoxFor(x => x.SearchEntity.IsAccepted)
                                                    <label for="SearchEntity_SpeciesAIsAcceptedOption">
                                                        Search only accepted names
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="section-search-results-species-a" class="col-md-12">
                                            <!-- DATA HERE -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="btnClearAllSpeciesA" class="btn btn-default">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-primary card-tabs">
                                <div class="card-header p-0 pt-1">
                                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab-batch-edit-citation" data-toggle="pill" href="#tab-content-edit-citation" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Citation</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-batch-edit-taxonomy-geography-map" data-toggle="pill" href="#tab-content-taxonomy-geography-map" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Distribution</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-batch-edit-taxonomy-use" data-toggle="pill" href="#tab-content-taxonomy-use" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Economic Use</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-batch-edit-taxonomy-commmon-name" data-toggle="pill" href="#tab-content-taxonomy-commmon-name" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">Common Name</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="custom-tabs-one-tabContent">
                                        <div class="tab-pane fade show active" id="tab-content-citation" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                        </div>
                                        <div class="tab-pane fade" id="tab-content-taxonomy-geography-map" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                            @{Html.RenderAction("_BatchEdit", "GeographyMap");}
                                        </div>
                                        <div class="tab-pane fade" id="tab-content-taxonomy-use" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                        </div>
                                        <div class="tab-pane fade" id="tab-content-taxonomy-commmon-name" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {

    }

    $(document).on("click", "[id*='btnGeographyMapBatchEditAddRow']", function () {
        $("#EventAction").val("GEOGRAPHYMAP");
        $("#EventValue").val("ADDROW");
        $("#frmGeographyMapBatchEdit").submit();
    });

    function GeographyMapBatchEditAddRow() {
        var link = '@Url.Action("BatchEditAddRow","GeographyMap")';
        var formData = new FormData();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#tab-content-taxonomy-geography-map").html(response);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    $(document).on("click", "[id*='btnCommonNameBatchEditAddRow']", function () {
        $("#EventAction").val("BATCHEDIT");
        $("#EventValue").val("ADDROW");
        //TODO
        //Make AJAX call to method that will return view with newly-added record.
    });

    $(document).on("click", "[id*='btnEconomicBatchEditAddRow']", function () {
        $("#EventAction").val("BATCHEDIT");
        $("#EventValue").val("ADDROW");
        //TODO
        //Make AJAX call to method that will return view with newly-added record.
    });


    $('#section-dependent-data ul.nav li').on('click', function () {

    });

    function LoadDependentData(controlId, eventAction, eventValue) {
        var link = '@Url.Action("EVENT_VALUE","EVENT_ACTION", new { speciesId = "SPECIES_ID" })';
        var entityId = $("#Entity_ID").val();
        var genusId = $("#Entity_GenusID").val();
        var genusName = $("#Entity_Name").val();
        var formData = new FormData();
        var sectionData = controlId.replace("tab_selector", "tab_content");

        link = link.replace("EVENT_ACTION", eventAction);
        link = link.replace("EVENT_VALUE", eventValue);
        link = link.replace("SPECIES_ID", entityId);

        formData.append("SpeciesID", entityId);

        $("#progress_overlay").show();

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#" + sectionData).html(response);
                $("#progress_overlay").hide();
            }
        });
    }
</script>
@Html.Partial("~/Views/Shared/_Scripts.cshtml")
