@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CropForCWRViewModel
<table id="data_table_taxonomy_cwr_crop" class="table table-striped ggtools" style="width:100%;">
    <thead>
        <tr>
            <th></th>
            <th width="5%">ID</th>
            <th>Name</th>
            <th>Created</th>
            <th>Created By</th>
            <th>Last Modified</th>
            <th>Modified By</th>
            <th align="center" style="text-align:center;">Maps</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DataCollection != null)
        {
            if (Model.DataCollection.Count() > 0)
            {
                foreach (var result in Model.DataCollection)
                {
                    <tr>
                        <td>
                            @result.ID
                        </td>
                        <td>
                            @result.ID
                        </td>
                        <td>@result.CropForCWRName</td>
                        <td>
                            @result.CreatedDate.ToShortDateString()
                        </td>
                        <td>
                            @result.CreatedByCooperatorName
                        </td>
                        <td>
                            @if (result.ModifiedDate > DateTime.MinValue)
                            {
                                @result.ModifiedDate.ToShortDateString()
                            }
                        </td>
                        <td>
                            @result.ModifiedByCooperatorName
                        </td>
                        <td align="center">
                            <a href="@Url.Action("Index","CWRMap", new { cropForCwrId = result.ID })">[@result.RelatedItemCount]</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "CropForCWR", new { entityId = result.ID })" class="btn btn-default btn-sm float-right row-edit">
                                <i class="fa fa-edit"></i>
                            </a>
                            @*@if (Model.EventAction == "FOLDER")
                                {
                                    <button id="btnDeleteFolderItem_@result.FolderID" class="btn btn-danger btn-sm float-right row-edit margin-r-5" style="margin-right:5px;">
                                        <i class="fa fa-trash"></i> Remove From Folder
                                    </button>
                                }*@
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableByClass("ggtools-table");
    });
</script>