@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GeographyViewModelBase
<div class="modal fade" id="modal-geography-lookup" style="display: none;" aria-hidden="true">
    @*@Html.HiddenFor(x => x.SpeciesID)*@
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-globe"></i>
                    @*Map Geography: @Html.Raw(Model.SpeciesName)*@
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!--DEBUG-->
                @*<div class="row">
                    <div class="col-md-12">
                        <label>CONTINENT REGION IDS</label>
                        <input type="text" id="txtDEBUGContinentRegionIds" style="background-color:yellow; width:100%;" />
                        <label>CONTINENTS</label>
                        <input type="text" id="txtDEBUGContinents" style="background-color:yellow; width:100%;" />
                        <label>SUBCONTINENTS</label>
                        <input type="text" id="txtDEBUGSubContinents" style="background-color:yellow; width:100%;" />
                        <label>COUNTRIES</label>
                        <input type="text" id="txtDEBUGCountries" style="background-color:yellow; width:100%;" />
                    </div>
                </div>*@

                <div id="section-continents" class="row">
                    <div class="card-title">Continents</div>
                    <div class="col-md-12">
                        @{Html.RenderAction("_ListContinents", "Geography"); }
                    </div>
                </div>
                <br />
                <div class="row">
                    <!-- SUBCONTINENT -->
                    <div class="col-md-3">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                                <h3 class="card-title">SubContinents</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="section-subcontinents">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COUNTRY -->
                    <div class="col-md-3">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Countries</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="section-countries">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ADMIN -->
                    <div class="col-md-3">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Administrative Units</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                

                                <div id="section-administrative-units">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- GEO MAP -->
                    <div class="col-md-3">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Maps</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="section-geography-maps">
                                    @{Html.RenderAction("_SelectList", "GeographyMap", new { @speciesId = Model.SpeciesID }); }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@*@if (Model.SpeciesID > 0)
{
    {Html.RenderAction("RenderLookupBySpeciesModal", "Citation", new { speciesId = Model.SpeciesID });}
}*@
<script type="text/javascript">
    $("#btnLookupGeography").click(function () {
        SearchGeography();
    });

    // ===================================================================
    // Continents
    // ===================================================================
    $('#section-select-continents :checkbox').change(function () {
        HandleSelectedContinents();
    });

    function HandleSelectedContinents() {
        var selected = [];
        var selectedRegionIdList = [];
        $('#section-select-continents input:checked').each(function () {
            selected.push("'" + $(this).attr('value') + "'");
            selectedRegionIdList.push($(this).attr('id'));
        });
        $("#txtDEBUGContinentRegionIds").val(selectedRegionIdList);
        LoadSubContinents(selected);
        LoadCountries(selected, "");
    }

    // ===================================================================
    // Subcontinents
    // ===================================================================
    function LoadSubContinents(continents) {
        var link = '@Url.Action("_ListSubContinents", "Geography")';
        var formData = new FormData();
        formData.append("continents", continents);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-subcontinents").html(response);
            },
            error: function () {
                alert("Error searching geography");
            }
        });
    }

    // ===================================================================
    // Countries
    // ===================================================================
    $(document).on("click", "[id='btnFilterCountries']", function () {
        var selectedSubContinents = GetSelectedEntityQuotedStrings("data-table-geography-subcontinents");
        //DEBUG
        //alert("SEL SUBS " + selectedSubContinents);

        // Get selected continents. REFACTOR (CBH, 5/2/23)
        var selectedContinents = [];
        $('#section-select-continents input:checked').each(function () {
            selectedContinents.push("'" + $(this).attr('value') + "'");
        });

        $("#txtDEBUGSubContinents").val(selectedSubContinents);
        LoadCountries(selectedContinents, selectedSubContinents);
    });

    function LoadCountries(continents, subContinents) {
        var link = '@Url.Action("_ListCountries", "Geography")';
        var formData = new FormData();

        //DEBUG
        /*alert("DEBUG CONTINENTS " + continents + " AND SUBCONTINENTS " + subContinents);*/

        formData.append("continents", continents);
        formData.append("subContinents", subContinents);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-countries").html(response);
            },
            error: function () {
                alert("Error searching geography");
            }
        });
    }

    // ===================================================================
    // Administrative Units
    // ===================================================================
    $(document).on("click", "[id='btnLoadAdminstrativeUnits']", function () {
        var selectedCountries = GetSelectedEntityStringIDs("data-table-geography-countries");
        //DEBUG
        //$("#txtDEBUGCountries").val(selectedCountries);
        //TODO Get admin units
        LoadAdministrativeUnits(selectedCountries);
    });

    function LoadAdministrativeUnits(countries) {
        var link = '@Url.Action("_ListAdministrativeUnits", "Geography")';
        var formData = new FormData();
        formData.append("countries", countries);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-administrative-units").html(response);
            },
            error: function () {
                alert("Error searching geography");
            }
        });
    }

    // ===================================================================
    // Maps
    // ===================================================================
    $(document).on("click", "[id='btnGenerateMaps']", function () {
        var speciesId = $("#SpeciesID").val();
        var geographyIdList = GetSelectedEntityIDs("data-table-geography-lookup");
        var status = $("#ddlStatus").val();

        AddGeographyMaps(speciesId, geographyIdList, status);
        // TODO
        // Get geo IDs from admins widget
        // Call AddMaps() controller method
        // Reload maps list
    });

    function AddGeographyMaps(speciesId, administrativeUnits, status) {
        var link = '@Url.Action("_Add", "GeographyMap")';
        var formData = new FormData();

        formData.append("Entity.SpeciesID", speciesId);
        formData.append("ItemIDList", administrativeUnits);
        formData.append("Entity.GeographyStatusCode", status);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                LoadGeographyMaps(speciesId);
            },
            error: function () {
                alert("Error");
            }
        });
    }

    function LoadGeographyMaps() {
        var link = '@Url.Action("_SelectList", "GeographyMap")';
        var speciesId = $("#SpeciesID").val();
        var formData = new FormData();

        formData.append("speciesId", speciesId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-geography-maps").html(response);
            },
            error: function () {
                alert("Error searching geography");
            }
        });
    }

    // ======================================================================
    // Utilities
    // ======================================================================
    function InitDataTableGeo(tableName) {
        $(document).ready(function () {
            table = $("#" + tableName).DataTable({
                dom: 'Blfrtip',
                paging: false,
                rowId: 'extn',
                stateSave: true,
                "bLengthChange": false,
                scrollY: '250px',
                scrollCollapse: true,
                paging: false,
                responsive: true,
                select: true,
                searching: false,
                buttons: [
                    'selectAll',
                    'selectNone'
                ],
                columnDefs: [
                    { targets: [0], visible: false }
                ]
            });
            /*table.row(':contains("Basionym")').select()*/
            //$("#" + tableName + ' tbody').on('click', 'tr', function () {
            //    var selectedSubContinents = GetSelectedEntityIDs(tableName);
            //    //DEBUG
            //    //alert("SELECTED SUBCONTINENTS " + selectedSubContinents);
            //    $("#txtDEBUGSubContinents").val(selectedSubContinents);
            //});
        });
    }

</script>