 
<ul class="navbar-nav">
    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Index", "Home")" class="nav-link">Home</a>
    </li>

    <li class="nav-item d-none d-sm-inline-block">

    </li>

    <li class="nav-item d-none d-sm-inline-block">
        <a href="@Url.Action("Add", ViewBag.EventAction)" class="nav-link">New</a>
    </li>
    <li class="nav-item dropdown">
        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Synonym</a>
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
            <li><a id="btnAddSynonymBasionym" href="" class="dropdown-item">Basionym </a></li>
            <li><a id="btnAddSynonymHeterotypic" href="" class="dropdown-item">Heterotypic Synonym </a></li>
            <li><a id="btnAddSynonymHomotypic" href="" class="dropdown-item">Homotypic Synonym </a></li>
            <li><a id="btnAddSynonymInvalid" href="" class="dropdown-item">Invalid Synonym </a></li>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Related Data</a>
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow" style="left: 0px; right: inherit;">
            <li><a id="btnAddRelatedItemCommonName" href="@Url.Action("Add","CommonName", new { speciesId = ViewBag.EntityID })" class="dropdown-item">Common Name </a></li>
            <li><a id="btnAddRelatedItemCitation" href="@Url.Action("Add","Citation", new { speciesId = ViewBag.EntityID })" class="dropdown-item">Citation </a></li>
            <li><a id="btnAddRelatedItemEconomicUse" href="@Url.Action("Add","EconomicUse", new { speciesId = ViewBag.EntityID })" class="dropdown-item">Economic Use </a></li>
            <li><a id="btnAddRelatedItemGeographyMap" href="@Url.Action("Add","GeographyMap", new { speciesId = ViewBag.EntityID })" class="dropdown-item">Distribution </a></li>
            <li><a id="btnAddRelatedItemRegulationMap" href="@Url.Action("Add","RegulationMap", new { speciesId = ViewBag.EntityID })" class="dropdown-item">Regulation </a></li>
        </ul>
    </li>
</ul>
