<nav class="main-header navbar navbar-expand-md navbar-light text-sm">
    <div class="container" style="max-width:1500px;">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
            <img src="~/dist/img/GGlogo_BW.gif" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">GGTools</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- BEGIN EDIT PAGE MENU -->
            <ul class="navbar-nav">
                @if (Model.Entity.ID > 0)
                {
                    <!-- SYN -->
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Synonym</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li> <button id="btnAddSynBasionym" data-ggtools-synonym-code="B" class="dropdown-item synonym-link">Basionym</button> </li>
                            <li> <button id="btnAddSynHeterotypic" data-ggtools-synonym-code="S" class="dropdown-item synonym-link">Heterotypic</button> </li>
                            <li> <button id="btnAddSynHomotypic" data-ggtools-synonym-code="=" class="dropdown-item synonym-link">Homotypic</button> </li>
                            <li> <button id="btnAddSynInvalid" data-ggtools-synonym-code="I" class="dropdown-item synonym-link">Invalid</button> </li>
                            <div class="dropdown-divider"></div>
                            <li><a href="@Url.Action("Add", "SpeciesSynonymMap", new { @entityId = Model.Entity.ID, @synonymType = "invalid" })" class="dropdown-item">Map</a></li>
                        </ul>
                    </li>
                    <!-- REL DATA -->
                    <li class="nav-item dropdown">
                        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Related Data</a>
                        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                            <li><a href="@Url.Action("Add", "Citation", new { @eventAction = "Species", @eventValue = "AddDependentData", @speciesId = Model.Entity.ID })" class="dropdown-item">Citation </a></li>
                            <li><a id="btnAddCommonName" href="@Url.Action("Add", "CommonName", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Common Name</a></li>
                            <li>
                                <button id="btnOpenGeographyLookupModal"
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#modal-geography-lookup"
                                        data-ggtools-species-id="@Model.ID"
                                        class="dropdown-item">
                                    Distribution
                                </button>
                            </li>
                            <li><a id="btnAddEconomicUse" href="@Url.Action("Add", "EconomicUse", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Economic Use</a></li>
                            <li><a href="@Url.Action("Add", "RegulationMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">Regulation</a></li>
                            <li><a href="@Url.Action("Add", "CWRMap", new { @speciesId = Model.Entity.ID })" class="dropdown-item">CWR Map</a></li>
                        </ul>
                    </li>
                    <!-- FOLDERS -->
                    { Html.RenderAction("RenderRelatedFoldersMenu", "AppUserItemFolder", new { sysTableName = Model.TableName, entityId = Model.Entity.ID }); }
                }
            </ul>
            <!-- END EDIT PAGE MENU-->
        </div>
        <!-- BEGIN RIGHT-ALIGNED NAV MENU -->
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            @Html.Partial("~/Views/Shared/_NavbarRight.cshtml")
        </ul>
        <!-- END RIGHT-ALIGNED NAV MENU -->

    </div>
</nav>