@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
@using System.Data;

@Html.HiddenFor(x=>x.TableName)

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminLTE3GOBS.cshtml";
}
<div class="row">
    <div class="col-md-4" style="width: 100%; max-width: 800px; overflow-x: auto;">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">@Model.TableName</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table id="data-table-select-list" class="table table-striped" style="width:100%;">
                    <thead>
                        <tr>
                            @foreach (DataColumn col in Model.DataCollectionDataTable.Columns)
                            {
                                <th>
                                    @col.ColumnName
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow dr in Model.DataCollectionDataTable.Rows)
                        {
                            <tr>
                                @foreach (DataColumn rowCol in Model.DataCollectionDataTable.Columns)
                                {
                                <td>@dr[rowCol.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <div id="section-gobs-detail" class="col-md-8">
         
    </div>
</div>
<script>
    $(document).ready(function () {
        InitGOBSDataTable("data-table-select-list");

        function InitGOBSDataTable(tableName) {
            $(document).ready(function () {
                var table = $("#" + tableName).DataTable({
                    paging: false,
                    responsive: true,
                    scrollY: '300px',
                    select: {
                        style: 'single'
                    },
                    searching: true
                });

                $('table').on('click', 'tr', function () {
                    var data = table.row(this).data()[0];
                    GetDetailEditor(data);
                });
            });
        }

        function GetDetailEditor(entityId) {
            var objectType = $("#TableName").val();
            var link = '@Url.Action("GetDetailEditor", "GOBS")';
            var link = '@Url.Action("GetDetailEditor", "GOBS", new { entityId = "ENTITY_ID", objectType = "OBJECT_TYPE" })';
            link = link.replace("ENTITY_ID", entityId);
            link = link.replace("OBJECT_TYPE", objectType);

            var formData = new FormData();
            formData.append("entityId", entityId);
            formData.append("objectType", objectType);

            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    $("#section-gobs-detail").html(response);
                }
            });
        }

        function GetDependentData(dataSetId, objectType) {
            var sectionName = "#section-gobs-" + objectType;
            var link = '@Url.Action("GetDependentData", "GOBS")';
            var link = '@Url.Action("GetDependentData", "GOBS", new { entityId = "ENTITY_ID", objectType = "OBJECT_TYPE" })';
            link = link.replace("ENTITY_ID", dataSetId);
            link = link.replace("OBJECT_TYPE", objectType);
            
            var formData = new FormData();
            formData.append("entityId", dataSetId);
            formData.append("objectType", objectType);

            $.ajax({
                url: link,
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    

                    $(sectionName).html(response);
                }
            });
        }
    });
</script>