@model USDA.ARS.GRIN.GGTools.GOBS.ViewModelLayer.GOBSViewModel
@{
    ViewBag.Title = "My GGTools";
    Layout = "~/Views/Shared/_LayoutAdminLTE3GOBS.cshtml";
}

<style>
    p {
        width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="row">
    @foreach (var sysTable in Model.DataCollectionSysTables)
    {
        <!-- TODO For each table, determine the user's level of access. -->
        if (sysTable.IsAuthorized == 0)
        {
            <div class="col-lg-4 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@sysTable.SysTableTitle</h3>
                        <p>@sysTable.Description</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>

                    @if (sysTable.SysTableName == "gobs_dataset")
                    {
                        <a href="@Url.Action("Get", "GOBS", new { @objectType = sysTable.TableName })" class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("GetAll", "GOBS", new { @objectType = sysTable.TableName, @objectTitle = sysTable.SysTableTitle })" class="small-box-footer">View <i class="fas fa-arrow-circle-right"></i></a>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@sysTable.SysTableTitle</h3>
                        <p>@sysTable.Description</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-table"></i>
                    </div>

                    @if (sysTable.SysTableName == "gobs_dataset")
                    {
                        <a href="@Url.Action("Get", "GOBS", new { @objectType = sysTable.TableName })" class="small-box-footer">Load <i class="fas fa-arrow-circle-right"></i></a>
                    }
                    else
                    {
                        <a href="@Url.Action("GetAll", "GOBS", new { @objectType = sysTable.TableName, @objectTitle = sysTable.SysTableTitle })" class="small-box-footer">Edit <i class="fas fa-arrow-circle-right"></i></a>
                    }
                </div>
            </div>
        }
    }
</div>