@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
<table id="data-table-folder-list" class="table table-striped" style="width:100%;">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Category</th>
            <th style="text-align:center;">Items</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var folder in Model.DataCollection)
        {
            <tr>
                <td>
                    @folder.ID
                </td>
                <td class="mailbox-star">
                    @if (folder.IsFavorite)
                    {
                        <a href="#"><i class="fa fa-star text-yellow"></i></a>
                    }
                </td>
                <td>
                    @folder.ID
                </td>
                <td class="mailbox-subject">
                    <b>@folder.FolderName</b> - @folder.Description
                </td>
                <td><span class="badge badge-secondary" style="font-size:.9rem;">@folder.FolderTypeDescription</span></td>
                <td>@folder.Category</td>
                <td style="text-align:center;">@folder.TotalItems</td>
                <td style="text-align:right;">
                    <a href="@Url.Action("Edit", "Folder", new { entityId = folder.ID })" class="btn btn-default btn-sm pull-right row-edit">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table-folder-list");
    });
</script>



