@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
<table id="data-table-folder-list" class="table table-striped folder-table" style="width:100%;">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th style="text-align:center;">Items</th>
            <th>Created</th>
            <th>By</th>
            <th>Modified</th>
            <th>By</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var folder in Model.DataCollection)
        {
        <tr>
            <td>
                @folder.ID
            </td>
            <td class="mailbox-star">
                @if (folder.IsFavorite)
                {
                    <a href="#"><i class="fa fa-star text-yellow"></i></a>
                }
            </td>
            <td>
                @if (folder.IsShared == "Y")
                {
                    <a href="#"><i class="fa fa-users text-blue"></i></a>
                }
            </td>
            <td>
                @folder.ID
            </td>
            <td class="mailbox-subject">
                <b>@folder.FolderName</b> - @folder.Description
            </td>
            <td>@folder.Category</td>
            <td style="text-align:center;">
                <span class="badge bg-gray" style="font-size:11pt;">
                    @folder.TotalItems
                </span>
            </td>
            <td>@folder.CreatedDate.ToShortDateString()</td>
            <td>@folder.CreatedByCooperatorName</td>
            <td>
                @if (folder.ModifiedDate > DateTime.MinValue)
                {
                    @folder.ModifiedDate.ToShortDateString()
                }
            </td>
            <td>@folder.ModifiedByCooperatorName</td>
            <td style="text-align:right;">
                <a href="@Url.Action("Edit", "Folder", new { entityId = folder.ID })" class="btn btn-default btn-sm pull-right row-edit">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>



