@model USDA.ARS.GRIN.GGTools.ViewModelLayer.FolderViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
@Html.Partial("~/Views/Shared/_RevisionHistory.cshtml")


<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#detail" data-toggle="tab">Detail</a></li>
            <li class="nav-item"><a class="nav-link" href="#sharing" data-toggle="tab">Sharing</a></li>
        </ul>
    </div>
    <div class="card-body" id="section-search-criteria">
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                @using (Html.BeginForm("Edit", "Folder", FormMethod.Post, new { id = "frmEdit" }))
                {
                    @Html.HiddenFor(x => x.PageTitle)
                    @Html.HiddenFor(x => x.EventAction)
                    @Html.HiddenFor(x => x.EventValue)
                    @Html.HiddenFor(x => x.TableName)
                    @Html.HiddenFor(x => x.TableCode)
                    @Html.HiddenFor(x => x.Entity.ID)
                    @Html.HiddenFor(x => x.Entity.RelatedItemCount)
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                @Html.TextBoxFor(x => x.Entity.FolderName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Category</label>
                                @Html.DropDownListFor(x => x.Entity.Category, Model.Categories, "Select value", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Add Category</label>
                                @Html.TextBoxFor(x => x.Entity.AlternateCategory, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextBoxFor(x => x.Entity.Description, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(x => x.Entity.IsFavorite, new { id = "customCheckbox1", @type = "checkbox", @class = "custom-control-input" })
                                    <label for="customCheckbox1" class="custom-control-label">Favorite</label>
                                </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="@Url.Action("Refresh")" class="btn btn-danger">Cancel</a>
                            <button type="submit" class="btn btn-info float-right">Save</button>
                        </div>
                    </div>
                }
            </div>
            <div class="tab-pane" id="sharing">
                <div class="row">
                    <div id="section-available-collaborators" class="col-md-5">
                        <table id="data-table-available-cooperators" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var result in Model.DataCollectionAvailableCooperators)
                                {
                                    <tr>
                                        <td>
                                            @result.ID
                                        </td>
                                        <td>
                                            @result.FullName
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2" style="margin-top:5%;">
                        <button id="btnShare" class="btn btn-default btn-block" type="button">>></button>
                        <button id="btnUnShare" class="btn btn-default btn-block" type="button"><<</button>
                    </div>
                    <div id="section-current-collaborators" class="col-md-5">
                        <table id="data-table-current-cooperators" class="table table-striped" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var result in Model.DataCollectionCurrentCooperators)
                                {
                                    <tr>
                                        <td>
                                            @result.ID
                                        </td>
                                        <td>
                                            @result.FullName
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderAction("FolderItems", Model.Entity.FolderTypeDescription, new { @folderId = Model.Entity.ID });}
<script type="text/javascript">
    $(document).ready(function () {
        Init();
        InitDataTableLightMultiSelect("data-table-available-cooperators");
        InitDataTableLightMultiSelect("data-table-current-cooperators");
    });

    function Init() {
        var isReadOnly = $("#IsReadOnly").val();
        if (isReadOnly == "Y") {
            SetReadOnly();
        }
        GetAvailableCollaborators(1073);
    }

    $("#btnDelete").click(function () {
        var action = $(this).data("ggtools-action");
        $("#EventAction").val(action);
        $("#EventValue").val(
            $(this).data("ggtools-value"));
    });

    /*
    ==========================================================================================================
    FOLDER SHARING
    ==========================================================================================================
    */
    $("#btnShare").click(function () {
        var entityId = $("#Entity_ID").val();
        var refreshLink = '@Url.Action("Edit","Folder", new { entityId = "SUB" })';
        refreshLink = refreshLink.replace("SUB", entityId);

        Share();
        GetAvailableCollaborators(entityId);
        GetCurrentCollaborators(entityId);
        //TODO Use AJAX
        window.location.href = refreshLink;
    });

    $("#btnUnShare").click(function () {
        var entityId = $("#Entity_ID").val();
        var refreshLink = '@Url.Action("Edit","Folder", new { entityId = "SUB" })';
        refreshLink = refreshLink.replace("SUB", entityId);

        UnShare();
        GetAvailableCollaborators(entityId);
        GetCurrentCollaborators(entityId);
        //TODO Use AJAX
        window.location.href = refreshLink;
    });

    function Share() {
        var link = '@Url.Action("AddCollaborators","Folder")';
        var entityId = $("#Entity_ID").val();
        var selectedItemIdList = GetSelectedEntityIDs("data-table-available-cooperators");
        var formData = new FormData();

        formData.append("FolderID", entityId);
        formData.append("IDList", selectedItemIdList);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                /*console.log(data);*/
                /*ConfirmFolderSave(data.folder.FolderName);*/
            },
            error: function (ex) {
            }
        });
    }

    function UnShare() {
        var link = '@Url.Action("DeleteCollaborators","Folder")';
        var entityId = $("#Entity_ID").val();
        var selectedItemIdList = GetSelectedEntityIDs("data-table-current-cooperators");
        var formData = new FormData();

        formData.append("FolderID", entityId);
        formData.append("IDList", selectedItemIdList);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                /*console.log(data);*/
                /*ConfirmFolderSave(data.folder.FolderName);*/
            },
            error: function (ex) {
            }
        });
    }

    function GetAvailableCollaborators(folderId) {
        var link = '@Url.Action("_ListAvailableCollaborators","Folder")';
        var formData = new FormData();

        formData.append("FolderID", folderId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-available-cooperators").html("DEBUG");
            },
            error: function () {
                alert("Error searching author");
            }
        });
    }

    function GetCurrentCollaborators(folderId) {
        var link = '@Url.Action("_ListCurrentCollaborators", "Folder")';
        var formData = new FormData();

        formData.append("FolderID", folderId);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                $("#section-current-collaborators").html("DEBUG 2");
            },
            error: function (ex) {
            }
        });
    }
</script>

