@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.SynonymMapViewModel
@if (Model.DataCollectionBatch.Count > 0)
{
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Mapped Synonyms (@Model.DataCollection.Count)</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div id="section-search-results" class="data-list">
                <table id="data-table-species-synonym-maps" class="table table-striped ggtools">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Species Name</th>
                            <th>Relationship</th>
                            <th>Species Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in Model.DataCollection)
                        {
                            var deleteButtonId = "btnDeleteSynonymMap" + result.ID.ToString(); 
                            <tr>
                                <td>
                                    @result.ID
                                </td>
                                <td>
                                    @result.ID
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Species", new { entityId = result.SpeciesAID })">
                                        @Html.Raw(result.SpeciesAName)
                                    </a>
                                </td>
                                <td>@result.SynonymDescription</td>
                                <td>
                                    <a href="@Url.Action("Edit", "Species", new { entityId = result.SpeciesBID })">
                                        @Html.Raw(result.SpeciesBName)
                                    </a>
                                </td>
                                <td style="text-align:right;">
                                    <button id="@deleteButtonId" class="btn btn-danger">Delete Map</button>
                                    <a href="@Url.Action("Edit", "SynonymMap", new { entityId = result.ID })" class="btn btn-primary btn-sm pull-right margin-r-5 row-edit">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script type="text/javascript">
                    $(document).ready(function () {
                        InitDataTable("data-table-species-synonym-maps");
                    });
                </script>
            </div>
        </div>
        <div class="card-footer">
            <button id="btnClear" class="btn btn-danger">Clear Session</button>
        </div>
    </div>
}
