@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebUserViewModel
@{
    string cssClassCard = "card card-default collapsed-card";
    string cssClassCardBody = "display: none;";
    string cssClassExpandCollapseButton = "fas fa-plus";

    if (Model.Entity.ID == 0)
    {
        cssClassCard = "card card-danger";
        cssClassCardBody = "collapse in show";
        cssClassExpandCollapseButton = "fas fa-minus";
    }
}

<div class="@cssClassCard">
    <div class="card-header">
        <h3 class="card-title">Web User</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="@cssClassExpandCollapseButton"></i>
            </button>
        </div>
    </div>
    <div id="section-sys-user" class="card-body" style="@cssClassCardBody">
        @using (Html.BeginForm("Save", "WebUser", FormMethod.Post, new { id = "frmEditWebUser" }))
        {
            @Html.HiddenFor(x => x.EventAction)
            @Html.HiddenFor(x => x.EventValue)
            @Html.HiddenFor(x => x.TableName)
            @Html.HiddenFor(x => x.TableCode)
            @Html.HiddenFor(x => x.Entity.ID)
            @Html.Partial("~/Views/Shared/_RevisionHistory.cshtml")
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Name</label><br />
                        @Html.TextBoxFor(x => x.Entity.WebUserName, new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        @Html.TextBoxFor(x => x.Entity.WebUserPassword, new { @class = "form-control", type = "text" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>