@model USDA.ARS.GRIN.GGTools.ViewModelLayer.EmailTemplateViewModel
<div class="card-body p-0">
    <div class="mailbox-read-info">
        <h4 style="border-bottom:1px;">@Model.Entity.Title
            <span class="mailbox-read-time float-right">
                @Html.Raw(Model.Entity.RevisionHistoryText)
            </span>
        </h4>
        <h5>@Model.Entity.Subject</h5>
        <h6>
            From: gringlobal-orders@usda.gov
        </h6> 
    </div>
    <!-- /.mailbox-read-info -->
    <div class="mailbox-controls with-border text-center">
        <div class="btn-group">
            <a href="@Url.Action("Edit","EmailTemplate", new { @entityId = Model.Entity.ID})" id="btnEdit" class="btn btn-default btn-sm"><i class="far fa-edit"></i></a>
            @*<button type="button" id="btnEdit" class="btn btn-default btn-sm" data-container="body" title="Edit Template">
                <i class="far fa-edit"></i>
            </button>*@
            @*<button type="button" class="btn btn-default btn-sm" data-container="body" title="Reply">
                <i class="fas fa-reply"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-container="body" title="Forward">
                <i class="fas fa-share"></i>
            </button>*@
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm" title="Print">
            <i class="fas fa-print"></i>
        </button>
    </div>
    <!-- /.mailbox-controls -->
    <div class="mailbox-read-message">
        @Html.Raw(Model.Entity.Body)
    </div>
    <!-- /.mailbox-read-message -->
</div>