@model USDA.ARS.GRIN.GGTools.ViewModelLayer.EmailTemplateViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<section class="content">
    <div class="card card-default card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i>
                Email Templates
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-5 col-sm-3">
                    <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
                        @{ 
                            int i = 0;
                            int j = 0;
                            string cssClassTab = "";
                            string cssClassTabPane = "";
                        }
                        
                        @foreach (var template in Model.DataCollection.OrderBy(x=>x.Title))
                        {
                            if (i == 0)
                            {
                                cssClassTab = "active";
                            }
                            else
                            {
                                cssClassTab = "";
                            }

                            <a class="nav-link @cssClassTab" id="@template.ID" data-toggle="pill" href="#vert-tabs-@template.ID" role="tab" aria-controls="vert-tabs-home" aria-selected="false">@template.Title</a>
                            i++;
                        }
                    </div>
                </div>
                <div class="col-7 col-sm-9">
                    <div class="tab-content" id="vert-tabs-tabContent">
                        
                        @foreach (var tempateForContent in Model.DataCollection.OrderBy(x => x.Title))
                        {
                            if (j == 0)
                            {
                                cssClassTabPane = "active in";
                            }
                            else
                            {
                                cssClassTabPane = "";
                            }

                            <div class="tab-pane text-left fade show @cssClassTabPane" id="vert-tabs-@tempateForContent.ID" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
                                @{Html.RenderAction("View","EmailTemplate", new { entityId = tempateForContent.ID});}
                            </div>
                            j++;
                        }
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.card -->
    </div>
    
  
</section>

<script type="text/javascript">
    $(document).ready(function () {
        /*Init();*/
    });

    //function Init() {
    //    var firstItem = $("#section-template-list ul li:first");
    //    var itemId = $(firstItem).attr('id');
    //    LoadData(itemId);
    //}

    $(function () {
        $('#section-template-list ul.nav li').on('click', function () {
            $(this).parent().find('li.active').removeClass('active-test');
            $(this).addClass('active-test');
            var itemId = $(this).attr('id');
            LoadData(itemId);
        });
    });

    function LoadData(id)
    {
        var $getStatusElement = $('li#' + id);
        $getStatusElement.addClass('active-test');

        var link = '@Url.Action("View", "EmailTemplate")';

        $.ajax(
            {
                type: 'POST',
                url: link,
                data: { entityId: id },
                success:
                    function (response) {
                        $("#section-template-view").html(response);
                    },
                error:
                    function (response) {
                        console.log(response);
                    }
            });
    }

    $(document).on("click", "[id='btnSave']", function () {
        Save();
    });

    function Save() {
       /* alert("DEBUG");*/
    }

</script>