@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GenusViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" href="~/Content/dist/css/fonts.googleapis.com.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
    <link rel="stylesheet" href="~/Content/dist/css/icheck-bootstrap.min.css" />

    <!-- Datatables -->
    <link rel="stylesheet" href="~/Content/dist/css/DataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/DataTables/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dist/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css" />

    <style type="text/css">
        .table-col-align-right {
            text-align: right;
        }

        .ggtools-selector input {
            opacity: 1;
            margin-right: 5px;
            margin-left: 3px;
        }

        .ggtools-selector-label {
            margin-left: 25px;
        }

        .ggtools-checkbox {
            margin-top: 40px;
        }

        table.dataTable tbody tr.selected > * {
            box-shadow: inset 0 0 0 9999px rgb(176, 190, 217);
            color: white;
        }

        .margin {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        .social-auth-links {
            margin: 0px;
            padding: 0px;
        }

        .button-label {
            margin-left: .3em;
        }

        .checkbox {
            margin-top: 0px;
        }

        .form-group {
            margin-bottom: 5px;
        }

        .text-danger {
            background-color: #dd4b39;
            color: white;
        }

        .badge {
            padding: 5px;
            font-size: 9.5pt;
        }

        .infraspecific-hybrid {
            margin-top: 25px;
        }

        #section-extended-search-fields {
            margin-top: 15px;
        }

        .section-checkbox {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
    @Scripts.Render("~/ggtools/js")
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-md navbar-light text-sm">
            <div class="container" style="max-width:1500px;">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="~/dist/img/gringlobal-logo.jfif" alt="GRIN-Global Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">GGTools</span>
                </a>
                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- BEGIN EDIT PAGE MENU -->
                    <ul class="navbar-nav">
                        @if (Model.Entity.ID > 0)
                        {
                            <!-- INFRAGENERIC -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Infraspecific Taxon</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Genus", new { @rank = "subgenus", @genusId = Model.Entity.ID })" class="dropdown-item">Subgenus</a></li>
                                    <li><a href="@Url.Action("Add", "Genus", new { @rank = "section", @genusId = Model.Entity.ID })" class="dropdown-item">Section</a></li>
                                    <li><a href="@Url.Action("Add", "Genus", new { @rank = "subsection", @genusId = Model.Entity.ID })" class="dropdown-item">Subsection</a></li>
                                    <li><a href="@Url.Action("Add", "Genus", new { @rank = "series", @genusId = Model.Entity.ID })" class="dropdown-item">Series</a></li>
                                    <li><a href="@Url.Action("Add", "Genus", new { @rank = "subseries", @genusId = Model.Entity.ID })" class="dropdown-item">Subseries</a></li>
                                </ul>
                            </li>
                            <!-- RELATED DATA -->
                            <li class="nav-item dropdown">
                                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Add Dependent Data</a>
                                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                                    <li><a href="@Url.Action("Add", "Citation", new { @eventAction = "Genus", @eventValue = "AddDependentData", @genusId = Model.Entity.ID })" class="dropdown-item">Citation </a></li>
                                    <li><a href="@Url.Action("Add", "Species", new { @eventAction = "Genus", @eventValue = "AddDependentData", @genusId = Model.Entity.ID })" class="dropdown-item">Species</a></li>
                                </ul>
                            </li>

                            Html.RenderAction("_RelatedFoldersMenu", "Folder", new { tableName = Model.TableName, entityId = Model.Entity.ID });
                        }
                    </ul>
                    <!-- END EDIT PAGE MENU-->

                    <!-- BEGIN RIGHT-ALIGNED NAV MENU -->
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                        @if (Model.Entity.ID > 0)
                        {
                            string url = String.Format("https://training.ars-grin.gov/gringlobal/taxon/taxonomygenus?id={0}", Model.Entity.ID);
                            <li id="nav-item-view-website" class="nav-item">
                                <a class="nav-link" href="@url">
                                    <i class="far fa-globe"></i>
                                    View on Website
                                </a>
                            </li>
                        }
                        @Html.Partial("~/Views/Shared/_NavbarRight.cshtml")
                    </ul>
                    <!-- END RIGHT-ALIGNED NAV MENU -->
                </div>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container" style="max-width:1500px;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">
                                @Html.Raw(Model.PageTitle)
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            @Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml")
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container" style="max-width:1500px;">
                    <div id="section-folder-confirmation"></div>
                    @Html.Partial("~/Views/Taxonomy/Shared/_RevisionHistory.cshtml")

                    @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")

                    @using (Html.BeginForm("Edit", "Genus", FormMethod.Post, new { id = "frmEdit" }))
                    {
                        @Html.HiddenFor(x => x.EventAction)
                        @Html.HiddenFor(x => x.EventValue)
                        @Html.HiddenFor(x => x.TableName)
                        @Html.HiddenFor(x => x.TableCode)
                        @Html.HiddenFor(x => x.Entity.ID)
                        @Html.HiddenFor(x => x.IsTypeGenus)
                        @Html.HiddenFor(x => x.Entity.Rank)
                        @Html.HiddenFor(x => x.Entity.IsAcceptedName)
                        <input id="hfCurrentAction" type="hidden" />
                        <input id="hfCurrentValue" type="hidden" />
                        <div class="card card-default">
                            <div class="card-header">
                                <!--TODO-->
                            </div>
                            <div class="card-body">
                                @Html.Partial("~/Views/Shared/_ValidationMessages.cshtml")
                                <div class="row accepted">
                                    <div id="section-accepted-name" class="col-md-3 accepted">
                                        <div class="form-group">
                                            <label>Accepted Name</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.AcceptedName, new { @class = "form-control" })
                                                @Html.HiddenFor(x => x.Entity.AcceptedID)

                                                @if (Model.Entity.AcceptedID > 0)
                                                {
                                                    <span class="input-group-btn">
                                                        <a href="@Url.Action("Edit", "Genus", new { @entityId = Model.Entity.AcceptedID })" class="btn btn-default btn-flat">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                    </span>
                                                }
                                                <span class="input-group-btn">
                                                    <button id="btnOpenGenusLookupModal"
                                                            type="button"
                                                            data-toggle="modal"
                                                            data-ggtools-action="AcceptedID"
                                                            data-ggtools-value="AcceptedName"
                                                            data-target="#modal-genus-lookup"
                                                            class="btn btn-default btn-flat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">

                                        <div id="section-fields-taxonomy-family" class="form-group">
                                            <label>Family</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.FamilyAssembledName, new { @class = "form-control", @readonly = "readonly", @style = "background-color:#ecf0f5;" })
                                                @Html.HiddenFor(x => x.Entity.FamilyID)
                                                @if (Model.Entity.FamilyID > 0)
                                                {
                                                    <span class="input-group-btn">
                                                        <a href="@Url.Action("Edit", "FamilyMap", new { @entityId = Model.Entity.FamilyID })" class="btn btn-default btn-flat">
                                                            <i class="fa fa-link"></i>
                                                        </a>
                                                    </span>
                                                }
                                                <span class="input-group-btn">
                                                    <button id="btnOpenFamilyLookupModal" type="button" data-ggtools-action="FamilyID" data-ggtools-value="FamilyAssembledName" data-toggle="modal" data-target="#modal-family-lookup" class="btn btn-default btn-flat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.Name, new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <a id="btnSetAcceptedOn" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-down"></i> Not Accepted</a>
                                                    <a id="btnSetAcceptedOff" class="btn btn-default" href="#" role="button"><i class="fas fa-thumbs-up"></i> Accepted</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    @switch (Model.Entity.Rank)
                                    {
                                        case "SUBGENUS":
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subgenus Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubgenusName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            break;
                                        case "SECTION":
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subgenus Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubgenusName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Section Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            break;
                                        case "SUBSECTION":
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subgenus Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubgenusName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Section Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subsection Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubsectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            break;
                                        case "SERIES":
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subgenus Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubgenusName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Section Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subsection Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubsectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Series Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SeriesName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            break;
                                        case "SUBSERIES":
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subgenus Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubgenusName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Section Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subsection Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubsectionName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Series Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SeriesName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Subseries Name</label>
                                                    @Html.TextBoxFor(x => x.Entity.SubseriesName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            break;
                                    }

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Qualifying Code</label>
                                            @Html.DropDownListFor(x => x.Entity.QualifyingCode, Model.QualifyingCodes, "NULL", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Hybrid Code</label>
                                            @Html.DropDownListFor(x => x.Entity.HybridCode, Model.HybridCodes, "NULL", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Authority</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.Entity.Authority, new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" data-toggle="modal" data-target="#modal-author-lookup" class="btn btn-default btn-flat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group clearfix" style="margin-top:40px;">
                                            <div class="icheck-primary d-inline">
                                                @Html.CheckBoxFor(x => x.Entity.IsWebVisibleOption)
                                                <label for="Entity_IsWebVisibleOption">
                                                    Web Visible
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- BEGIN NOTE FIELD -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="margin-r-5">Note</label>
                                            <div class="input-group">
                                                <br />
                                                @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control", })
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-note-lookup">
                                                        <i class="fa fa-search margin-r-5"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END NOTE FIELD-->
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="@Url.Action("Refresh")" class="btn btn-default">Reset</a>
                                @if (Model.Entity.ID > 0)
                                {
                                    <button id="btnDelete" type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                }

                                @if (!String.IsNullOrEmpty(Model.EventAction))
                                {
                                    <a class="btn btn-default"
                                       href="@Url.Action("Edit", Model.EventAction, new { entityId = Model.Entity.FamilyID })">
                                        Return to @Model.EventAction
                                    </a>
                                }

                                <button type="submit" class="btn btn-primary float-right">Save</button>
                            </div>
                        </div>
                    }

                    @if (Model.Entity.ID > 0)
                    {
                        <div class="card">
                            <div id="section-dependent-data" class="card-header p-2">
                                <ul id="list-dependent-data" class="nav nav-pills">
                                    <li id="tab_selector_citations" class="nav-item"><a class="nav-link active" href="#tab_content_citations" data-toggle="tab">Citations</a></li>
                                    <li id="tab_selector_species" class="nav-item"><a class="nav-link" href="#tab_content_species" data-toggle="tab">Species</a></li>
                                    <li id="tab_selector_synonyms" class="nav-item"><a class="nav-link" href="#tab_content_synonyms" data-toggle="tab">Synonyms</a></li>
                                    <li id="tab_selector_subdivisions" class="nav-item"><a class="nav-link" href="#tab_content_subdivisions" data-toggle="tab">Subdivisions</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_content_citations">
                                        <div id="section-citations">

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_content_species">
                                        <!--TODO-->
                                    </div>
                                    <div class="tab-pane" id="tab_content_synonyms">
                                        <!--TODO-->
                                    </div>
                                    <div class="tab-pane" id="tab_content_subdivisions">
                                        <!--TODO-->
                                    </div>

                                </div>
                            </div>
                        </div>
                    }

                    @{Html.RenderAction("RenderLookupModal", "FamilyMap"); }
                    @{Html.RenderAction("RenderLookupModal", "Citation", new { tableName = Model.TableName, entityId = Model.Entity.ID }); }
                    @Html.Partial("~/Views/Shared/Modals/_NoteLookup2.cshtml")
                    @Html.Partial("~/Views/Taxonomy/Shared/Modals/_Delete.cshtml")
                </div>
            </div>

        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        Init();
    });

    function Init() {
        SetControlVisibility();
    }

    function Init() {
        SetControlVisibility();
        var defaultId = $('ul#list-dependent-data li:first').attr("id");
        LoadDependentData(defaultId);
    }

    $('#section-dependent-data ul.nav li').on('click', function () {
        var selectedId = $(this).attr('id');
        LoadDependentData(selectedId);
    });

    function LoadDependentData(sectionId) {
        var link = "";
        var entityId = $("#Entity_ID").val();
        var genusId = $("#Entity_GenusID").val();
        var genusName = $("#Entity_Name").val();
        var formData = new FormData();
        var sectionData = sectionId.replace("tab_selector", "tab_content");

        // Load data in selected section content area based on id.
        switch (sectionId) {
            case "tab_selector_citations":
                link = '@Url.Action("_List","Citation")';
                break;
            case "tab_selector_species":
                link = '@Url.Action("_List","Species")';
                break;
            case "tab_selector_synonyms":
                link = '@Url.Action("_ListSynonyms", "Genus")';
                break;
            case "tab_selector_subdivisions":
                link = '@Url.Action("_ListSubdivisions", "Genus", new { genusName = "GENUS_NAME" })';
                link = link.replace("GENUS_NAME", genusName);
                break;
            default:
                // code block
        }

        formData.append("GenusID", entityId);

        $.ajax({
        url: link,
        type: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        data: formData,
        success: function (response) {
            $("#" + sectionData).html(response);
        }
    });
}
    </script>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Content/dist/js/DataTables/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Content/dist/js/DataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/DataTables/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
</body>
</html>