@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
@{
    ViewBag.Title = "Web Order Search";
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@using (Html.BeginForm("Search", "WebOrderRequest", FormMethod.Post, new { id = "frmSearch" }))
{
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.EventValue)
    @Html.Partial("~/Views/WebOrder/_Detail.cshtml")
}

<div class="card card-default card-tabs">
    <div id="section-search-results" class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item" id="filter-web-order-requests">
                <a class="nav-link active" data-ggtools-action="1D" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Web Order Requests</a>
            </li>
            <li class="nav-item" id="filter-web-order-request-items">
                <a class="nav-link" data-ggtools-action="3D" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Items</a>
            </li>
            <li class="nav-item" id="filter-web-order-request-actions">
                <a class="nav-link" data-ggtools-action="7D" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Actions</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @*<div id="web-order-request-overlay" class="overlay-wrapper">
            <div class="overlay">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                <div class="text-bold pt-2">Loading...</div>
            </div>
        </div>*@
        <div class="tab-content" id="section-web-order-request-list">
            @Html.Partial("~/Views/WebOrderRequest/Explorer/_List.cshtml")


        </div>
    </div>
    <!-- /.card -->
</div>





@Html.Partial("~/Views/Shared/Modals/_SaveSearch.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        InitDataTable("data-table-web-order-requests");
    });

    function InitWebOrderRequestDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                dom: 'Blfrtip',
                paging: false,
                "pageLength": 25,
                responsive: true,
                buttons: [
                    'csv',
                    'excel',
                    'pdf'
                ],
                search: true,
                select: {
                    style: 'single'
                },
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]

            });

            // If the table contains at least one row, select that row by default, and load the WOR data
            // related to it.
            //if (table.rows().count() > 0) {
            //    // Select the first visible row
            //    var firstVisibleRow = table.rows({ search: 'applied' }).indexes()[0];
            //    if (firstVisibleRow !== undefined) {
            //        table.row(firstVisibleRow).select();
            //        LoadWebOrderRequest(table.row(':eq(0)', { page: 'current' }).data()[0]);
            //    }
            //}

            // Call select method when user clicks a given row.
            //$('table.ggtools').on('click', 'tr', function () {
            //    var data = table.row(this).data();
            //    LoadWebOrderRequest(data[0]);
            //});
        });
    }

</script>
