@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysErrorViewModel

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Application Errors</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            @*<div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="box-body" style="border:none;">
        <table id="data-table-sys-app-error" class="table table-responsive table-striped ggtools-table" style=" width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th width="5%">ID</th>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Level</th>
                    <th>Stack Trace</th>
                    <th>Logger</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.DataCollectionSysAppErrors)
                {
                    <tr>
                        <td>
                            @result.ID
                        </td>
                        <td>
                            <span class="label bg-aqua">@result.ID</span>
                        </td>
                        <td>
                            @result.CreateDate
                        </td>
                        <td>
                            @result.ErrorMessage
                        </td>
                        <td>
                            @result.ErrorLevel
                        </td>
                        <td>
                            @result.StackTrace
                        </td>
                        <td>
                            @result.Logger
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
        




