@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysErrorViewModel
<table id="data-table-sys-db-error" class="table table-striped ggtools-table" style=" width:100%;">
    <thead>
        <tr>
            <th></th>
            <th width="5%">ID</th>
            <th>Date</th>
            <th>User Name</th>
            <th>Error Number</th>
            <th>State</th>
            <th>Severity</th>
            <th>Error Line</th>
            <th>Stored Procedure</th>
            <th>Error Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.DataCollectionSysDBErrors)
        {
            <tr>
                <td>
                    @result.ErrorID
                </td>
                <td>
                    <span class="label bg-aqua">@result.ErrorID</span>
                </td>
                <td>@result.ErrorDateTime.ToString("{ 0:s}")</td>
                <td>
                    @result.UserName
                </td>
                <td>
                    @result.ErrorNumber
                </td>
                <td>
                    @result.ErrorState
                </td>
                <td>
                    @result.ErrorSeverity
                </td>
                <td>
                    @result.ErrorLine
                </td>
                <td>
                    @result.ErrorProcedure
                </td>
                <td>
                    @result.ErrorMessage
                </td>
            </tr>
        }
    </tbody>
</table>


