@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysErrorViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

<div class="card">
    <div class="card-header p-2">
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#tab-errors-db" data-toggle="tab">DB Errors</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab-errors-app" data-toggle="tab">Application Errors</a></li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-errors-db">
                @Html.Partial("~/Views/Error/_DBErrorList.cshtml")
            </div>
            <div class="tab-pane" id="tab-errors-app">
                @Html.Partial("~/Views/Error/_AppErrorList.cshtml")
            </div>
        </div>
    </div>
</div>


@using (Html.BeginForm("Search", "Error", FormMethod.Post, new { id = "frmMain" }))
{
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.TableName)
    @Html.HiddenFor(x => x.TableCode)
    @Html.HiddenFor(x => x.PageTitle)
    @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
    @Html.HiddenFor(x => x.ItemIDList)
    
    
}

<script type="text/javascript">

    $(document).ready(function () {
        Init();
        InitDataTable("data-table-sys-app-error");
        InitDataTable("data-table-sys-db-error");
    });

    function Init() {
    }

    $(document).on("click", "[id='btnReset']", function () {
        Reset();
    });

    function GetSelectedEntityIDs(tableName) {
        var table = $('#' + tableName).DataTable();
        var ids = $.map(table.rows('.selected').data(), function (item) {
            return item[0]
        });
        console.log(ids)
        return ids;
    }
</script>
