@model USDA.ARS.GRIN.GGTools.ViewModelLayer.OrderRequestViewModel
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@Model.DataCollection.Count Order Requests Found</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div id="section-search-results" class="card-body">
        <table id="data-table-order-requests" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>WOR ID</th>
                    <th>Last Action</th>
                    <th>Type</th>
                    <th>Requestor</th>
                    <th>Email</th>
                    <th>Organization</th>
                    <th>Ship To</th>
                    <th>Ordered Date</th>
                    <th>Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderRequest in Model.DataCollection)
                {
                    <tr>
                        <td><a href="@Url.Action("View","OrderRequest", new { @entityId = orderRequest.ID})">@orderRequest.ID</a></td>
                        <td>
                            @if(orderRequest.WebOrderRequestID > 0)
                            { 
                                <a href="@Url.Action("View","WebOrderRequest", new { @entityId = orderRequest.WebOrderRequestID})">@orderRequest.WebOrderRequestID</a>
                            }
                        </td>
                        <td>@orderRequest.MostRecentOrderRequestActionCode</td>
                        <td>@orderRequest.OrderTypeDescription</td>
                        <td>
                            <a href="@Url.Action("View","Cooperator", new { @entityId = orderRequest.RequestorCooperatorID})">
                                @orderRequest.RequestorCooperatorName
                            </a>
                        </td>
                        <td>@orderRequest.RequestorEmailAddress</td>
                        <td>@orderRequest.RequestorOrganization</td>
                        <td>@orderRequest.ShipToCooperatorName</td>
                        <td>
                            @orderRequest.OrderedDate.ToShortDateString()
                        </td>
                        <td>
                            @orderRequest.OrderRequestItemCount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitOrderRequestDataTable("data-table-order-requests");
    });

    function InitOrderRequestDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                dom: 'Blfrtip',
                paging: true,
                "pageLength": 25,
                responsive: true,
                layout: {
                    topStart: {
                        pageLength: {
                            menu: [10, 25, 50, 100]
                        }
                    },
                    topEnd: {
                        search: {
                            placeholder: 'Type search here'
                        }
                    },
                    bottomEnd: {
                        paging: {
                            buttons: 3
                        }
                    }
                },
                buttons: [
                    'csv',
                    'excelHtml5',
                    'pdf'
                ],
                search: true,
                select: {
                    style: 'single'
                },
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]

            });

            // If the table contains at least one row, select that row by default, and load the WOR data
            // related to it.
            //if (table.rows().count() > 0) {
            //    // Select the first visible row
            //    var firstVisibleRow = table.rows({ search: 'applied' }).indexes()[0];
            //    if (firstVisibleRow !== undefined) {
            //        table.row(firstVisibleRow).select();
            //        LoadWebOrderRequest(table.row(':eq(0)', { page: 'current' }).data()[0]);
            //    }
            //}

            // Call select method when user clicks a given row.
            //$('table.ggtools').on('click', 'tr', function () {
            //    var data = table.row(this).data();
            //    LoadWebOrderRequest(data[0]);
            //});
        });
    }
</script>

