@model USDA.ARS.GRIN.GGTools.ViewModelLayer.SysUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdminLTE3Login.cshtml";
}
    <div class="login-box">
        <div class="card card-outline ">
            <div class="card-header text-center" style="font-size: 2.5rem;">
                <b>GG</b>Tools
                <h6><strong>Database:</strong> @AppInfo.GetDatabase()</h6>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in using your GRIN-Global username and password.</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.EventAction)
                    @Html.HiddenFor(x => x.EventValue)

                    if (!String.IsNullOrEmpty(Model.UserMessage))
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h5><i class="icon fas fa-ban"></i> Login Error</h5>
                            @Model.UserMessage
                        </div>
                    }
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.Entity.UserName, new { @placeholder = "Enter GRIN-Global user name", @class = "form-control", @autocomplete = "off", @maxlength = "50" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.Entity.Password, new { @placeholder = "Enter GRIN-Global password", @type = "password", @class = "form-control", @autocomplete = "off", @maxlength = "2000" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <a href="@Url.Action("RequestPasswordReset","Login")" class="btn btn-default btn-block">Reset my Password</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                    <div class="social-auth-links text-center mt-2 mb-3">
                        <a href="@Url.Action("New","Account")" class="btn btn-default btn-block">Request a New Account</a>
                    </div>
                    
                }

                <!-- BEGIN REL NOTE MODAL -->
                <!--<div class="modal fade" id="modal-release-notes" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fas fa-search"></i>
                    Release Notes
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">-->
                <!--TODO: Remove via jquery margin-top: 32px;-->
                <!--<div class="csg-wrapper" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; font-size: 14px; font-weight: 400; line-height: 24px; vertical-align: baseline;"><h1 class="csg-h1" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 23px; line-height: 1.1034; margin-top: 40px; letter-spacing: -0.01em;">Release notes - NGRL DBMU Initiatives - 1.0.7 Alpha</h1><h3 class="csg-h3" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 16px; line-height: 1.2; margin-top: 32px; font-weight: 500; letter-spacing: -0.008em;">Bug</h3><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-660" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-660</a> Classification Search/Edit -- 500 Error When Clicking Classification Edit Link</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-661" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-661</a> Classification Search: Family Count in Results Not Accurate</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-663" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-663</a> Family Edit: Error Adding Infrafamilial Records</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-664" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-664</a> Family Edit: Error Adding Family</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-665" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-665</a> Family Edit: Authority Lookup Modal Does Not Open</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-666" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-666</a> Classification Edit: Families in List All Showing as Not Accepted</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-667" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-667</a> Family Edit: Data Missing</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-669" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-669</a> Economic Use Search: Modify Results List</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-670" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-670</a> Economic Use Edit: Error When Opening Page (From Search Results List)</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-672" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-672</a> Edit Pages (All): Verify Placement of Revision History</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-674" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-674</a> Family Edit: Add Genus Option Is Missing</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-675" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-675</a> Genus Edit: "Add CWR Map" Appears in Menu</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-676" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-676</a> Genus Edit: Missing "Add Dependent Data" Menu Options</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-677" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-677</a> Family Lookup Modal: Search Results List Does Not Display Assembled Name</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-678" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-678</a> Genus Edit: Web Visible Not Checked When Value = 'Y'</p><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-679" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-679</a> Citation Edit: No Taxon Visible When Adding Citation</p><h3 class="csg-h3" style="font-style: inherit; color: #172B4D; font-weight: 600; margin-bottom: 0; font-size: 16px; line-height: 1.2; margin-top: 32px; font-weight: 500; letter-spacing: -0.008em;">Task</h3><p class="csg-p" style="margin: 0; padding: 0px; margin-bottom: 7px; padding-top: 7px; mso-line-height-rule: exactly; line-height: 24px; font-size: 14px;"><a href="https://ngrl-dbmu.atlassian.net/browse/NDI-649" class="csg-mark-link" style="border: none; background: transparent; color: #0052cc; text-decoration: none;">NDI-649</a> Author Search: Match on Diacritic/Accents (ENHANCEMENT)</p></div>                            </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>-->
                <!-- END REL NOTE MODAL -->
            </div>
            <div class="card-footer">
                Version @AppInfo.GetVersion()
                @*<button class="btn btn-default btn-sm float-right" data-toggle="modal" data-target="#modal-release-notes">Release Notes</button>*@
            </div>
        </div>
    </div>
    <script>
        $("#btnLogin").click(function () {
            var action = $(this).data("pdsa-action");
            $("#EventAction").val(action);
            $("#EventValue").val(
                $(this).data("pdsa-value"));
        });
    </script>
