@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.EconomicUseViewModel

@using (Ajax.BeginForm("BatchEdit", "EconomicUse", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tab-content-taxonomy-geography-map", InsertionMode = InsertionMode.Replace }))
{
    @Html.HiddenFor(x => Model.EventAction)
    @Html.HiddenFor(x => Model.EventValue)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Usage Type</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Entity.AssembledName, new { @class = "form-control", @readonly = "readonly" })
                    @Html.HiddenFor(x => x.Entity.EconomicUsageTypeID)
                    <span class="input-group-append">
                        <a href="@Url.Action("Edit", "EconomicUsageType", new { @entityId = Model.Entity.EconomicUsageTypeID })" class="btn btn-default btn-flat">
                            <i class="fa fa-link"></i>
                        </a>
                    </span>
                    <span class="input-group-append">
                        <button id="btnOpenEconomicUsageTypeLookupModal"
                                type="button"
                                class="btn btn-default btn-flat"
                                data-ggtools-action="EconomicUsageTypeID"
                                data-ggtools-value="AssembledName"
                                data-toggle="modal"
                                data-target="#modal-economic-usage-type-lookup">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Plant Part</label>
                @Html.DropDownListFor(x => x.Entity.PlantPartCode, Model.PlantPartCodes, "NULL", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Note</label>
                @Html.TextBoxFor(x=>x.Entity.Note, new { @class="form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <button id="btnGenerateEconomicUses" class="btn btn-default btn-block btn-flat float-right">Generate Uses For Selected Species</button>
        </div>
    </div>
}
<script type="text/javascript">
    $("#btnGenerateEconomicUses").on('click', function (event) {
        //TODO
    });
</script>















