@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.EconomicUseViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}

@using (Html.BeginForm("Edit", "EconomicUse", FormMethod.Post, new { id = "frmEdit" }))
{
    @Html.HiddenFor(x => x.PageTitle)
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.EventValue)
    @Html.HiddenFor(x => x.TableName)
    @Html.HiddenFor(x => x.TableCode)
    @Html.HiddenFor(x => x.Entity.ID)
    @Html.Partial("~/Views/Shared/_RevisionHistory.cshtml")

    <div class="card card-default">
        <div class="card-header">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#modal-note-lookup">
                    <i class="fa fa-search margin-r-5"></i>
                    Notes
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="section-species" class="col-md-3">
                    <div class="form-group">
                        <label>Species</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.Entity.SpeciesName, new { @class = "form-control" })
                            @Html.HiddenFor(x => x.Entity.SpeciesID)
                            <span class="input-group-btn">
                                <button type="button" data-toggle="modal" data-target="#modal-species-lookup" class="btn btn-default btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Usage</label>
                        @Html.DropDownListFor(x => x.Entity.EconomicUsageCode, Model.EconomicUsageCodes, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type</label>
                        @Html.DropDownListFor(x => x.Entity.EconomicUsageType, Model.EconomicUsageTypes, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Plant Part</label>
                        @Html.DropDownListFor(x => x.Entity.PlantPartCode, Model.PlantPartCodes, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Note</label>
                        @Html.TextAreaFor(x => x.Entity.Note, new { @id = "txtNote", @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Citation</label>
                        <div class="input-group">
                            @Html.HiddenFor(x => x.Entity.CitationID)
                            @Html.TextBoxFor(x => x.Entity.CitationText, new { @class = "form-control", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target="#modal-citation-lookup">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-warning">
                @*<i class="fa fa-undo"></i>*@ 
                Cancel
            </button>
            @if (Model.Entity.ID > 0)
            {
                <button id="btnDelete" type="button" class="btn btn-danger">
                    Delete
                </button>
            }
            <button type="submit" class="btn btn-info float-right">Save</button>
        </div>
    </div>
}

@Html.Partial("~/Views/Taxonomy/Species/Modals/_Lookup.cshtml")
@Html.Partial("~/Views/Shared/Modals/_NoteLookup2.cshtml")
@{Html.RenderAction("RenderLookupModal", "Citation"); }
@{Html.RenderAction("RenderLookupModal", "Geography"); }
@Html.Partial("~/Views/Taxonomy/Shared/Modals/_Delete.cshtml")

<script>
    $(document).ready(function () {
        Init();
        /*InitializeCKEditor();*/
    });

    function Init() {

    }
   /*
    * ===================================================================================================
    * SPECIES MODAL
    * ===================================================================================================
    */

    $(document).on("click", "[id='btnLookupSpecies']", function () {
        var link = '@Url.Action("Lookup","Species")';
        SearchSpecies(link);
    });

    $(document).on("click", "[id='btnSaveSpecies']", function () {
        SaveSpecies();
    });

    function SaveSpecies() {
        var selectedItemIdList = GetSelectedEntityIDs("data-table-species-lookup");
        var selectedSpeciesNameList = GetSelectedEntityLabels("data-table-species-lookup");
        $("#Entity_SpeciesID").val(selectedItemIdList);
        $("#Entity_SpeciesName").val(selectedSpeciesNameList);
    }
    /*
    * ===================================================================================================
    * CITATION MODAL
    * ===================================================================================================
    */

    $(document).on("click", "[id='btnLookupCitations']", function () {
        var link = '@Url.Action("Lookup","Citation")';
        LookupCitations(link);
    });

    $(document).on("click", "[id='btnSaveCitations']", function () {
        SaveCitations();
    });

    $(document).on("click", "[id='btnDeleteCitations']", function () {
        DeleteCitations();
    });

    function SaveCitations() {
        var tableName = $("#TableName").val();
        var entityId = $("#Entity_ID").val();
        var formData = new FormData();
        var selectedItemIdList = GetSelectedEntityIDs("citation-lookup-data-table");
        var link = '@Url.Action("AddReference","Citation")';
        var refreshLink = '@Url.Action("Edit","EconomicUse")' + '?entityId=' + entityId;

        formData.append("TableName", tableName);
        formData.append("EntityID", entityId);
        formData.append("IDList", selectedItemIdList);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#modal-citation-search").modal("hide");
                window.location.href = refreshLink;
            },
            error: function () {

            }
        });
    }

    function DeleteCitations() {
        var tableName = $("#TableName").val();
        var entityId = $("#Entity_ID").val();
        var formData = new FormData();
        var selectedItemIdList = "0";
        var link = '@Url.Action("AddReference","Citation")';
        var refreshLink = '@Url.Action("Edit","EconomicUse")' + '?entityId=' + entityId;

        formData.append("TableName", tableName);
        formData.append("EntityID", entityId);
        formData.append("IDList", selectedItemIdList);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#modal-citation-search").modal("hide");
                window.location.href = refreshLink;
            },
            error: function () {

            }
        });
    }

    function GetCitation(id) {

    }

</script>


