@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column mt-2" data-widget="treeview" role="menu" data-accordion="false">
        <!-- TODO: Refactor this element into a partial shared across sidebars-->
        <li class="nav-item">
            <a href="@Url.Action("Index","Home")" class="nav-link">
                <i class="fas fa-home nav-icon"></i>
                <p>Home</p>
            </a>
        </li>
        @Html.Partial("~/Views/Shared/Sidebars/Components/_MenuWorkspaces.cshtml")
        <li class="nav-header">FILTERS</li>
        
        <!-- TIME FRAME -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-calendar"></i>
                <p>
                    Time Frame
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="ANY" data-ggtools-action="filter-by-time-frame" data-ggtools-value="Any Time" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>Any Time Period</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="1D" data-ggtools-action="filter-by-time-frame"  data-ggtools-value="Today" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>Today</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="3D" data-ggtools-action="filter-by-time-frame"  data-ggtools-value="Last 3 Days" href="" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last Three Days</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="7D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="Last 7 Days" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>This Month</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="60D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="Last 60 Days" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 2 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="90D" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="Last 90 Days" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Last 3 Months</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="1Y" data-ggtools-action="filter-by-time-frame" href="" data-ggtools-value="This Year" class="nav-link filter">
                        <i class="fas fa-calendar nav-icon"></i>
                        <p>The Current Year</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- STATUS -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Current Status
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="ANY" data-ggtools-action="filter-by-status" data-ggtools-value="Any Status" href="" class="nav-link filter">
                        <i class="fas fa-circle nav-icon"></i>
                        <p>Any Status</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="ACCEPTED" data-ggtools-action="filter-by-status" data-ggtools-value="Reviewing" href="" class="nav-link filter">
                        <i class="fas fa-circle text-green nav-icon"></i>
                        <p>Reviewing</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="CANCELED" data-ggtools-action="filter-by-status" data-ggtools-value="Canceled" href="" class="nav-link filter">
                        <i class="fas fa-circle text-purple nav-icon"></i>
                        <p>Canceled Order</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_FLAG" data-ggtools-action="filter-by-status" data-ggtools-value="NRR Flag" href="" class="nav-link filter">
                        <i class="fas fa-circle text-red nav-icon"></i>
                        <p>NRR Flag</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- MOST RECENT ACTION-->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-circle"></i>
                <p>
                    Last Action
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="NRR_REJECT" data-ggtools-action="filter-by-status" href="" class="nav-link filter">
                        <i class="fas fa-thumbs-down text-red nav-icon"></i>
                        <p>Web Order Rejected as NRR</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_APPROVE" data-ggtools-action="filter-by-status" href="" class="nav-link filter">
                        <i class="fas fa-thumbs-up text-green nav-icon"></i>
                        <p>Web Order Approved</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="NRR_INFO" data-ggtools-action="filter-by-status" href="" class="nav-link filter">
                        <i class="fas fa-info nav-icon"></i>
                        <p>Request For Additional Information</p>
                    </a>
                </li>
            </ul>
        </li>

        <!-- ASSIGNED -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    Assigned To
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a id="-9" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Anyone</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="33816" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Kinard, Gary</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a id="10" data-ggtools-action="filter-by-assigned-to" href="" class="nav-link filter">
                        <i class="fas fas fa-user nav-icon"></i>
                        <p>Reisinger, Marty</p>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-header">MANAGE DATA</li>
        <li class="nav-item">
            <a href="@Url.Action("Search","WebOrder")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Web Orders</p>
            </a>
        </li>
        <li class="nav-header">SYSADMIN</li>
        <li class="nav-item">
            <a href="@Url.Action("Index","CodeValue")" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>Code Values</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index","Error")" class="nav-link">
                <i class="nav-icon fas fa-bug"></i>
                <p>Error Logs</p>
            </a>
        </li>
    </ul>
</nav>
