@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<div class="invoice p-3 mb-3">
    @Html.HiddenFor(x => x.Entity.ID)

    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-user"></i>&nbsp;
                @*<a href="@Url.Action("Search","WebOrder")">*@
                @Model.Entity.WebCooperatorFullName [@Model.Entity.ID]
                @*</a>*@

                @switch (Model.Entity.StatusCode)
                {
                    case "ACCEPTED":
                        <span class="badge bg-success" style="margin-left:10px; font-size:12pt;">@Model.Entity.StatusCode</span>
                        break;
                    case "SUBMITTED":
                        <span class="badge bg-indigo" style="margin-left: 10px; font-size: 12pt;">@Model.Entity.StatusCode</span>
                        break;
                    case "CANCELED":
                        <span class="badge bg-yellow" style="margin-left: 10px; font-size: 12pt;">@Model.Entity.StatusCode</span>
                        break;
                    case "NRR_FLAG":
                        <span class="badge bg-danger" style="margin-left: 10px; font-size: 12pt;">@Model.Entity.StatusCode</span>
                        break;
                }

                <small class="float-right">Submitted: @Model.Entity.OrderDate.ToShortDateString() at @Model.Entity.OrderDate.ToShortTimeString()</small>
            </h4>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-sm-12">
            <button class="btn btn-default btn-sm">
                <i class="fa fa-sticky-note"></i> Add Note
            </button>
            <button class="btn btn-default btn-sm">
                <i class="fa fa-envelope"></i> Email Requestor
            </button>
            <button class="btn btn-default btn-sm">
                <i class="fa fa-envelope"></i> Email Curator(s)
            </button>
            <button class="btn btn-default float-right btn-sm">
                <i class="fa fa-lock"></i> Begin Review and Lock
            </button>

            <div class="btn-group float-right">
                <button id="btnReject" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-thumbs-down"></i> Reject
                </button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" role="menu">
                    <a id="btnOpenRejectModal" class="dropdown-item" href="#">
                        <i class="fa fa-envelope"></i> Reject and Preview Email
                    </a>
                </div>
            </div>
            <div class="btn-group float-right">
                <button id="btnApprove" type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-thumbs-up"></i>
                    Approve
                </button>
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" role="menu">
                    <a id="btnOpenApproveModal" class="dropdown-item" href="#">
                        <i class="fa fa-envelope"></i> Accept and Preview Email
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-2 invoice-col">
            <b>Requestor Email:</b><br>
            <b>Organization:</b><br>
            <b>Intended Use:</b><br>
        </div>
        <div class="col-sm-10 invoice-col">
            <a href="@Url.Action("Search","WebOrder", new { emailAddress=Model.Entity.WebCooperatorEmail })">@Model.Entity.WebCooperatorEmail</a>
            <br />
            <a href="@Url.Action("Search","WebOrder", new { organization=Model.Entity.WebCooperatorOrganization })">@Model.Entity.WebCooperatorOrganization</a>
            <br>
            <a href="@Url.Action("Search","WebOrder", new { intendedUseCode=Model.Entity.IntendedUseCode })">@Model.Entity.IntendedUseCode</a>
            <br>
        </div>
    </div>
    <br />
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <label>Primary Address</label>
            <address>
                @Model.Entity.WebCooperatorAddress1<br>
                @if (!String.IsNullOrEmpty(Model.Entity.WebCooperatorAddress2))
                {
                    @Model.Entity.WebCooperatorAddress2<br>
                }
                @Model.Entity.WebCooperatorAddressCity, @Model.Entity.WebCooperatorAddressState @Model.Entity.WebCooperatorAddressPostalIndex
            </address>
        </div>
        <div class="col-sm-6 invoice-col">
            <label>Shipping Address</label>
            <address>
                @Model.Entity.ShippingAddress1<br>
                @if (!String.IsNullOrEmpty(Model.Entity.ShippingAddress2))
                {
                    @Model.Entity.ShippingAddress2<br>
                }
                @Model.Entity.ShippingAddressCity, @Model.Entity.ShippingAddressState @Model.Entity.ShippingAddressPostalIndex
            </address>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
            <b>Intended Use Note:</b><br />
            @Model.Entity.IntendedUseNote
        </div>
    </div>
    <br />
    <div class="row invoice-info">
        <div class="col-sm-12 invoice-col">
            <b>Note:</b><br />
            @Model.Entity.Note
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 table-responsive">
            <table id="table_web_order_request_items" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th>Accession</th>
                        <th>Site</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.DataCollectionItems)
                    {
                        <tr>
                            <td>@result.ID</td>
                            <td>@result.StatusCode</td>
                            <td>@result.AccessionText</td>
                            <td>@result.SiteLongName</td>
                            <td>@result.QuantityShipped</td>
                            <td>@result.UnitOfQuantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    InitDataTable("table_web_order_request_items");
</script>