@model USDA.ARS.GRIN.GGTools.ViewModelLayer.WebOrderRequestViewModel
<table id="table_web_order_requests" class="display responsive" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>
               Requestor 
            </th>
            <th>
                Status
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var webOrderRequest in Model.DataCollection)
        {
            var statusCssClass = "project-state-" + webOrderRequest.StatusCode.ToLower();
          
            <tr>
                <td>@webOrderRequest.ID</td>
                <td>@webOrderRequest.ID</td>
                <td>
                                @*<a>*@
                    @webOrderRequest.WebCooperatorFullName
                                @*</a>*@
                    <br>
                    <small>
                        @webOrderRequest.WebCooperatorOrganization
                    </small>
                </td>

                <td class="@statusCssClass">
                    @webOrderRequest.StatusCode
                </td>

            </tr>
        }
    </tbody>
</table>

@*@foreach (var webOrderRequest in Model.DataCollection)
            {

                var cssClass = "";
                switch (webOrderRequest.StatusCode)
                {
                    case "NRR_FLAG":
                        cssClass = "bg-danger";
                        break;
                    case "ACCEPTED":
                        cssClass = "bg-success";
                        break;
                    default:
                        cssClass = "bg-info";
                        break;
                }
    <div class="info-box">
        <span class="info-box-icon @cssClass"><i class="far fa-address-book"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">@webOrderRequest.WebCooperatorFullName</span>
            <span class="info-box-number">
                @webOrderRequest.WebCooperatorOrganization
                <button class="btn btn-default btn-sm float-right">>></button>
            </span>
        </div>
    </div>
}*@

