@model USDA.ARS.GRIN.GGTools.ViewModelLayer.OrderRequestViewModel
<div class="scrollable-table-section">
    <h5>Order Requests</h5>
    <table id="table_order_request_phyto_log" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Received</th>
                <th>Opened</th>
                <th>Num. Pkg.</th>
                <th>Num. Items</th>
                <th>Maj. Genus</th>
                <th>Import Permit Identifier</th>
                <th>Inspected By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.DataCollectionPhytoLog)
            {

                <tr>
                    <td>@result.ID</td>
                    <td>@result.ReceivedDate.ToShortDateString()</td>
                    <td>@result.OpenedDate.ToShortDateString()</td>
                    <td>@result.NumberOfPackages</td>
                    <td>@result.NumberOfItems</td>
                    <td>@result.MajorGenus</td>
                    <td>@result.ImportPermitIdentifier</td>
                    <td>@result.InspectedByCooperatorID</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitOrderRequestPhytoLogDataTable("table_order_request_phyto_log");
    });

    function InitOrderRequestPhytoLogDataTable(tableName) {
        tableName = "#" + tableName;
        $(document).ready(function () {
            table = $(tableName).DataTable({
                dom: 'Blfrtip',
                paging: true,
                "pageLength": 25,
                responsive: true,
                layout: {
                    topStart: {
                        pageLength: {
                            menu: [10, 25, 50, 100]
                        }
                    },
                    topEnd: {
                        search: {
                            placeholder: 'Type search here'
                        }
                    },
                    bottomEnd: {
                        paging: {
                            buttons: 3
                        }
                    }
                },
                buttons: [
                    'csv',
                    'excelHtml5',
                    'pdf'
                ],
                search: true,
                select: {
                    style: 'single'
                },
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //columnDefs: [
                //    { targets: [0], visible: false }
                //]

            });

            // If the table contains at least one row, select that row by default, and load the WOR data
            // related to it.
            //if (table.rows().count() > 0) {
            //    // Select the first visible row
            //    var firstVisibleRow = table.rows({ search: 'applied' }).indexes()[0];
            //    if (firstVisibleRow !== undefined) {
            //        table.row(firstVisibleRow).select();
            //        LoadWebOrderRequest(table.row(':eq(0)', { page: 'current' }).data()[0]);
            //    }
            //}

            // Call select method when user clicks a given row.
            //$('table.ggtools').on('click', 'tr', function () {
            //    var data = table.row(this).data();
            //    LoadWebOrderRequest(data[0]);
            //});
        });
    }
</script>