@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.GeographyMapViewModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Shared/_LayoutAdminLTE3.cshtml";
}
@using (Html.BeginForm("Search", "GeographyMap", FormMethod.Post, new { id = "frmMain" }))
{
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.EventValue)
    @Html.HiddenFor(x => x.EventAction)
    @Html.HiddenFor(x => x.TableCode)
    @Html.HiddenFor(x => x.TableName)
    @Html.HiddenFor(x => x.PageTitle)
    @Html.HiddenFor(x => x.AuthenticatedUserCooperatorID)
    @Html.HiddenFor(x => x.ItemIDList)
    @Html.HiddenFor(x => x.SearchEntity.SaveSearchTitle)
    @Html.HiddenFor(x => x.SearchEntity.SaveSearchDescription)

    <div class="box box-default">
        <div class="box-body" style="border:none;">
            @Html.Partial("~/Views/Taxonomy/GeographyMap/_Detail.cshtml")
            <div id="section-search-results" class="data-list">
                @Html.Partial("~/Views/Taxonomy/GeographyMap/_List.cshtml")
            </div>
        </div>
    </div>
}

@{Html.RenderAction("RenderEditModal", "AppUserItemFolder", new { @sysTableName = Model.TableName }); }
@*@{Html.RenderAction("RenderLookupModal", "Citation", new { isMultiSelect = "Y" }); }*@
@Html.Partial("~/Views/Shared/Modals/_SaveSearch.cshtml")

<script type="text/javascript">

    $(document).ready(function () {
        Init();
        SetExtendedFields();
    });

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            $("#btnSearch").click();
        }
    });

    function Init() {
    }
</script>
