@model USDA.ARS.GRIN.GGTools.Taxonomy.ViewModelLayer.CWRTraitViewModel

<div id="section-search-results" class="card card-default">
    <div class="card-header">
        <h3 class="card-title">CWR Traits (@Model.DataCollectionBatch.Count)</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="data_table_taxonomy_cwr_trait" class="table table-striped" style=" width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th width="5%">ID</th>
                    <th>CWR Map Name</th>
                    <th>Trait Class</th>
                    <th>Breeding Type</th>
                    <th>Citation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataCollectionBatch != null)
                {
                    if (Model.DataCollectionBatch.Count() > 0)
                    {
                        foreach (var result in Model.DataCollectionBatch)
                        {
                            <tr>
                                <td>
                                    @result.ID
                                </td>
                                <td>
                                    @result.ID
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "CWRMap", new { entityId = result.CWRMapID })">
                                        @result.AssembledName
                                    </a>
                                </td>
                                <td>@result.TraitClassTitle</td>
                                <td>@result.BreedingTypeTitle</td>
                                <td>@result.CitationText</td>
                                <td style="text-align:right;">
                                    <a href="@Url.Action("Edit", "CWRTrait", new { entityId = result.ID })" class="btn btn-default btn-sm pull-right row-edit">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    @if (Model.EventAction == "FOLDER")
                                    {
                                        <button id="btnDeleteFolderItem_@result.FolderID" class="btn btn-danger btn-sm float-right row-edit margin-r-5" style="margin-right:5px;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div id="section-batch-edit-modal">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        InitDataTableLookupFormat("data_table_taxonomy_cwr_trait");
    });
</script>

